{% extends 'main.html' %}

{% block content %}

<section class="m-3">
  <div class="m-3">
    <div class="row m-0">

      <!-- left side div -->
      <div class="col-2 me-3 white-border" style="height: fit-content;">
        <div class="m-1 mt-3 mb-2">
          <h4>{{ course.name }}</h4>
        </div>

        <!-- overview -->
        <div class="m-1 mt-3 mb-2">
          <h5>Overview</h5>
          <div class="small-font-size ms-3">
            {% if course.body|safe == 'None' %}
              <p><a href="{% url 'course-each' course.id %}">There is no introduction here.</a></p>
            {% else %}
              <p class="text-muted"><a href="{% url 'course-each' course.id %}">{{ course.body|safe|truncatewords_html:5 }}</a></p>
            {% endif %}
          </div>
        </div>

        <!-- chapters -->
        <div class="m-1 mt-2 mb-2">
          <h5>Chapters</h5>
          <div class="small-font-size ms-3">
            {% for con in contents %}
              {% if con.id == content.id %}
                <p><a style="color: rgb(0, 255, 162);" href="{% url 'content-each' con.id %}">Chapter {{ forloop.counter }}</a></p>
              {% else %}
                <p><a href="{% url 'content-each' con.id %}">Chapter {{ forloop.counter }}</a></p>
              {% endif %}
            {% empty %}
              <p>There is no chapter here.</p>
            {% endfor %}
          </div>
        </div>
  
        <!-- quizs -->
        <div class="m-1 mt-2 mb-2">
          <h5>Tests</h5>
          <div class="small-font-size ms-3">
            {% for quiz, completion in completion_quizs %}
              <p style="display: flex; flex-direction: row; align-items: center;">
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ quiz.id }}">Chapter test {{ forloop.counter }}</a>
                {% if completion.completed %}
                  <span class="ms-2" style="background: green; width: 10px; height: 10px; border-radius: 50%;"></span>
                {% else %}
                  <span class="ms-2" style="background: yellow; width: 10px; height: 10px; border-radius: 50%;"></span>
                {% endif %}
              </p>

              <!-- quiz modal -->
              <div class="modal fade" id="exampleModal-{{ quiz.id }}" tabindex="-1" aria-labelledby="exampleModalLabel-{{ quiz.id }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content rounded-3 shadow">
                    <div class="modal-body p-4 text-center" id="modal-body">
                      <div style="display: flex; align-items: center; justify-content: end;">
                        <h5 class="pe-3">Please choose your action</h5>
                        <a class="btn-close mb-2 ms-5" type="button" aria-label="close" 
                        data-bs-dismiss="modal"></a>
                      </div>
                      <p>You can always change your mind.</p>
                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                      {% if request.user == quiz.host %}
                        <a class="btn btn-lg btn-link fs-6 text-decoration-none text-nowrap col py-3 m-0 rounded-0 border-end" 
                          href="{% url 'quiz-each' quiz.id %}">
                          <strong>Start test</strong>
                        </a>
                        <a class="btn btn-lg btn-link fs-6 text-decoration-none col py-3 m-0 rounded-0 border-end"
                          href="{% url 'quiz-result' quiz.id %}" style="color: green;">Result</a>
                        <a class="btn btn-lg btn-link fs-6 text-decoration-none col py-3 m-0 rounded-0 border-end"
                        href="{% url 'quiz-edit' quiz.id %}" style="color: rgb(221, 232, 23);">Edit</a>
                        <a class="btn btn-lg btn-link fs-6 text-decoration-none col py-3 m-0 rounded-0 border-end"
                        href="{% url 'quiz-delete' quiz.id %}" style="color: red;">Delete</a>
                      {% else %}
                        <a class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end" 
                          href="{% url 'quiz-each' quiz.id %}">
                          <strong>Start test</strong>
                        </a>
                        <a class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                          href="{% url 'quiz-result' quiz.id %}">Result</a>
                      {% endif %}
  
                    </div>                  
                  </div>
                </div>
              </div>
            {% empty %}
              <p>There is no test here.</p>
            {% endfor %}
          </div>
        </div>
  
        <!-- discuss -->
        <div class="m-1 mt-2 mb-2">
          <h5>Discuss</h5>
          <div class="small-font-size ms-3">
            {% if discuss.exists %}

            {% else %}
              <p>There is no discuss here.</p>
            {% endif %}
          </div>
        </div>
      </div>
  
      <!-- right side div -->
      <div class="col white-border">
        <div class="m-3 mb-5">
            <h3>{{ content.name }}</h3>
            {% if content.body|safe == 'None' %}
              <p class="text-muted me-2 ms-2">There is no body here.</p>
            {% else %}
              <p class="text-muted me-2 ms-2">{{ content.body|safe }}</p>
            {% endif %}
        </div>

        <!-- quizes table -->
        <div class="m-3 border">
          <div style="border-bottom: 1px solid rgba(0,0,0,0.2)">
            <h5 class="m-2 p-2">Quizes</h5>
          </div>
          <div class="" style="display: grid; grid-template-columns: auto auto;">
            {% for quiz in quizs %}
              <div class="" style="border: 1px solid rgba(0,0,0,0.2)">
                <p class="m-2 p-2"><a href="">{{ content.quiz }}</a></p>
              </div>
            {% empty %}
              <div class="" style="border: 1px solid rgba(0,0,0,0.2); width: max-content;">
                <p class="m-2 p-2">There is no quiz here.</p>
              </div>
            {% endfor %}
          </div>
        </div>
  
        <!-- videos div -->
        <div class="m-3 border">
          <div style="border-bottom: 1px solid rgba(0,0,0,0.2)">
            <h5 class="m-2 p-2">Videos</h5>
          </div>
          <div class="" style="display: grid; grid-template-columns: auto auto;">
            {% for video in videos %}
              <div class="" style="border: 1px solid rgba(0,0,0,0.2)">
                <p class="m-2 p-2"><a href="">video 1</a></p>
              </div>
            {% empty %}
              <div class="" style="border: 1px solid rgba(0,0,0,0.2); width: max-content;">
                <p class="m-2 p-2">There is no video here.</p>
              </div>
            {% endfor %}
          </div>
        </div>
  
        <!-- files div -->
        <div class="m-3 border">
          <div style="border-bottom: 1px solid rgba(0,0,0,0.2)">
            <h5 class="m-2 p-2">Files</h5>
          </div>
          <div class="" style="display: grid; grid-template-columns: auto auto;">
            {% for file in files %}
              <div class="" style="border: 1px solid rgba(0,0,0,0.2)">
                <p class="m-2 p-2">TOEFL first edition book</p>
              </div>
            {% empty %}
              <div class="" style="border: 1px solid rgba(0,0,0,0.2); width: max-content;">
                <p class="m-2 p-2">There is no file here.</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ list_count|json_script:"json-list-count" }}

<script>
  var list_count = JSON.parse(document.getElementById('json-list-count').textContent);
  document.getElementById('notification-bell').innerHTML = list_count;
</script>

{% endblock %}
