{% extends 'main.html' %}

{% block content %}

<section class="m-3 p-3">
  <form method="POST" action="">
    {% csrf_token %}

    <div class="white-border p-4 mb-4">
      <div class="mb-3">
        <h4>Chapter Create Form</h4>
        <p onclick="load_everyting()">click here to load form !!!</p>
      </div>

        <!-- quiz part -->
      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Name</label>
        <input class="form-control" type="text" name="content-name" placeholder="Name" value="{{ content.name }}" required>
      </div>

      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Body</label>
        <textarea class="mytextarea form-control" style="width: 100%;" name="content-body" required>{{ content.body }}</textarea>
      </div>

      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Publication</label>
        {% if content.publication is True %}
          <input type="checkbox" name="content-pub" checked>
        {% else %}
          <input type="checkbox" name="content-pub">
        {% endif %}
      </div>
      
      <div>
        <button type="submit" class="btn btn-outline-primary me-2">Save form</button>
        <a class="btn btn-secondary" href="" onclick="chapter_close()">Discard</a>
      </div>
    </div>

    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" onclick="add_chap_quiz()">Add quiz</a>
      </div>
      <div class="col p-3 ms-3" id="chap-quiz-side">
      </div>
    </div>

    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" onclick="add_chap_video()">Add video</a>
      </div>
      <div class="col p-3 ms-3" id="chap-video-side">
      </div>
    </div>

    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" onclick="add_chap_file()">Add file</a>
      </div>
      <div class="col p-3 ms-3" id="chap-file-side">
      </div>
    </div>
  </form>

</section>

{% endblock %}
