{% extends 'main.html' %}

{% block content %}

<section class="m-3 p-3">
  <form method="POST" action="">
    {% csrf_token %}

    <div class="white-border p-4 mb-4">
      <div class="mb-3">
        <h4>Chapter edit Form ({{ content.id }} from course {{ content.course.id }})</h4>
        <p onclick="load_everyting()">click here to load form !!!</p>
      </div>

        <!-- quiz part -->
      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Name</label>
        <input class="form-control" type="text" name="content-name" placeholder="Name" value="{{ content.name }}" required>
      </div>

      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Body</label>
        <textarea class="mytextarea form-control" style="width: 100%;" name="content-body" required>{{ content.body }}</textarea>
      </div>

      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Publication</label>
        {% if content.publication is True %}
          <input type="checkbox" class="form-check-input" name="content-pub" checked>
        {% else %}
          <input type="checkbox" class="form-check-input" name="content-pub">
        {% endif %}
      </div>
      
      <div>
        <button type="submit" class="btn btn-outline-primary me-2">Save form</button>
        <a class="btn btn-secondary" href="" onclick="chapter_close()">Discard</a>
      </div>
    </div>

    <!-- add quiz -->
    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" id="{{ content.id }}" onclick="add_chap_quiz(this.id)">Add quiz</a>
        <div id="chapter-quiz" style="display: none;">

        </div>
      </div>
      <div class="col p-3 ms-3" id="chap-quiz-side">
        {% for quiz in quizs %}
        <div class="accordion accordion-flush" style="border-bottom: 1px solid #e4e4e4;" id="chap-quiz-{{ forloop.counter }}">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse1-{{ forloop.counter }}"
                aria-controls="#flush-collapse1-{{ forloop.counter }}" aria-expanded="false">
                <p>{{ forloop.counter }}</p>
              </a>
            </h2>
            <div class="accordion-collapse collapse" id="flush-collapse1-{{ forloop.counter }}">
              <div class="accordion-body" id="accordion-body1-{{ forloop.counter }}">
                <div class="mb-3 d-flex flex-row align-items-center text-nowrap">
                  <label class="me-3">name</label>
                  <p class="form-control me-3">
                    {{ quiz.name }}
                  </p>
                  <a class="btn btn-light me-3 text-nowrap" id="del-quiz-{{ forloop.counter }}-{{ quiz.id }}"
                    onclick="del_chap_quiz(this.id)" style="width: max-content;">
                    <i class="fa-solid fa-trash"></i>
                    <span>Delete quiz</span>
                  </a>
                  <a class="btn btn-light text-nowrap" style="width: fit-content;" href="{% url 'quiz-edit' quiz.id %}" target="_blank">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <span>Edit quiz</span>
                  </a>
                </div>
                <div class="mb-3 d-flex flex-row align-items-center text-nowrap">
                  <label class="me-3">Number of Questions</label>
                  <p class="form-control">
                    {{ quiz.questions_count }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <!-- add files -->
    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" onclick="add_chap_file()">Add file</a>
      </div>
      <div class="col p-3 ms-3" id="chap-file-side">
        {% for file in files %}
          <div class="accordion accordion-flush" style="border-bottom: 1px solid #e4e4e4;" id="chap-file-{{ forloop.counter }}">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse2-{{ forloop.counter }}"
                  aria-controls="#flush-collapse2-{{ forloop.counter }}" aria-expanded="false">
                  <p>{{ forloop.counter }}</p>
                </a>
              </h2>
              <div class="accordion-collapse collapse" id="flush-collapse2-{{ forloop.counter }}">
                <div class="accordion-body" id="accordion-body2-{{ forloop.counter }}">
                  <div class="mb-3 d-flex flex-row align-items-center text-nowrap">
                    <label class="me-3">Description</label>
                    <input class="form-control me-3" type="text" placeholder="Description here..." 
                      name="chap-file-desc-{{ forloop.counter }}" value="{{ file.description }}" required>
                    <a href="{% url 'file-delete' file.id %}" class="btn btn-light me-3 text-nowrap" style="width: max-content;">
                      <i class="fa-solid fa-trash"></i>
                      <span>Delete file</span>
                    </a>
                  </div>
                  <div class="mb-3 d-flex flex-row align-items-center text-nowrap">
                    <label class="mb-3 me-3">File here</label>
                    <p class="form-control mb-3" style="width: 100%;" name="chap-file-{{ forloop.counter }}">
                      {% if file.file %}
                      <a href="{{ file.file.url }}" download="{{ file.file }}">{{ file.file }}</a>
                      {% else %}
                        None
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </form>
</section>

{{ list_count|json_script:"json-list-count" }}

<!-- toast notif -->
<div class="custom-toast" id="toast" style="display: none;">
  <div class="toast-content">
    <i class="fa fa-solid fa-check check"></i>
    <div class="message">
      <span class="text text-1" id="text-1">Success</span>
      <span class="text text-2" id="text-2">Your changes has been saved</span>
    </div>
  </div>
</div>

<script>
  var list_count = JSON.parse(document.getElementById('json-list-count').textContent);
  document.getElementById('notification-bell').innerHTML = list_count;
</script>

{% endblock %}
