{% extends 'main.html' %}

{% block content %}

<section class="p-3 m-3">
  <a class="btn btn-primary" href="{% url 'create-course' %}" >Create ?</a><hr>
  <div class="row">
    <!-- topic side column -->

    <div class="col mt-3">
      {% for topic in topics %}
        <p><a href="{% url 'topic' topic.id %}"> {{ topic.name }}</a></p><hr>
      {% endfor %}
    </div>

    <!-- main side column -->

    <article class="col-8">
      {% for course in courses %}
        <div class="p-3 col for-loop">
          <label class="form-label" id="list-item-{{ course.id }}"><a href="{% url 'course-each' course.id %}">{{ course.name }}</a> /
            <span class="text-muted">{{ course.topic.name }}</span> 
          </label>
          <p class="form-control p-3">{{ course.body }}</p>
        </div>
      {% endfor %}
    </article>

    <!-- map side column -->
  
    <div class="course-page-list col">
      <div id="list-example">
        {% for course in courses %}
        <a class="" href="#list-item-{{ course.id }}">{{ course.name }}</a>
        {% endfor %}
      </div>
    </div>

  </div>
</section>

{% endblock %}
