{% extends 'main.html' %}
{% load humanize %}
{% now "Y-m-d" as todays_date %}
{% block content %}

<section class="m-3">
  <div class="m-3 p-3 white-border">

    <!-- search bar -->
    <div class="mt-3" >
      <form method="GET" action="" style="display: flex; flex-direction: row; justify-content: space-between;">
        {% csrf_token %}
        <!-- status -->
        <div class="me-2" style="width: 100%;">
          <select class="form-select" name="course-status">
            <option selected>Status</option>
            <option>Not Started</option>
            <option>Attempted</option>
            <option>Solved</option>
          </select>
        </div>
        <!-- tags -->
        <div class="me-2" style="width: 100%;">
          <select class="form-select" name="course-tags">
            <option selected>Tags</option>
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
          </select>
        </div>
        <!-- topics -->
        <div class="me-2" style="width: 100%;">
          <select class="form-select" name="course-topics">
            <option selected>Topics</option>
            <option>Advice</option>
            <option>Self Development</option>
          </select>
        </div>
        <!-- date -->
        <div class="me-2" style="width: 100%;">
          <select class="form-select" name="course-date">
            <option selected>Date</option>
            <option>Started</option>
            <option>Ended</option>
            <option>Not yet</option>
          </select>
        </div>
        <!-- search -->
        <div class="me-2" style="width: 150%; display: flex;">
          <input type="search" class="form-control me-2" name="course-search" placeholder="Search...">
          <button class="btn btn-outline-success" type="submit">Search</nutton>
        </div>
      </form>
    </div><hr>

    <!-- course side div -->
    <div class="row m-0 ps-5 pe-5">
      {% for course, progress in course_progresses %}
        <div class="col-3 p-3">
          <div class="white-border p-3 courses" id="{{ forloop.counter }}">
            <div class="mb-3">
              <p class=""><b>{{ course.name }}</b><span class="ms-2 small-font-size text-muted">
                (<a href="{% url 'profile' course.host.id %}">{{ course.host }}</a>)</span>
              </p>
              <p class="small-font-size text-muted">{{ course.created_at|naturaltime }}</p>
            </div>
            <div class="mb-4 small-font-size blue-border" style="transform: rotate(-2deg);">     
              {% if course.body == None or course.body == '' or course.body == 'None' %}
                <p style="font-weight: 600;">There is no introduction yet.</p>
              {% else %}
                <p style="font-weight: 600;">{{ course.body|safe|truncatewords_html:10  }}</p>
              {% endif %}
            </div>

            {% if course.start_date and course.end_date %}
              <div class="mb-3">
                <div class="small-font-size" style="display: flex; justify-content: space-between; font-weight: 600;">
                  <p>Start date</p>
                  <p>End date</p>
                </div>
                <div class="small-font-size text-muted" style="display: flex; justify-content: space-between;">
                  <p>{{ course.start_date|date:'Y-m-d' }}</p>
                  <p>{{ course.end_date|date:'Y-m-d' }}</p>
                </div>
              </div>
            {% endif %}

            {% if not request.user.is_staff %}
              <div class="mb-2 small-font-size" style="display: flex; justify-content: space-between;">
                <p style="font-weight: 600;">Progress</p>
                <p style="font-weight: 600;">{% for prog in progress %}{{ prog.value }}{% endfor %} %</p>
              </div>

              <div class="mb-3" style="height: 10px; border: 1px solid #333; border-radius: 5px;">
              </div>
            {% endif %}
            
            <div class="mb-2">
              <p class="small-font-size" style="font-weight: 600;">Tags</p>
              <div class="small-font-size">              
                {% if not course.tag %}
                  <p class="text-muted">There is no tags.</p>
                {% else %}
                  <p>{{ course.tag }}</p>
                {% endif %}
              </div>
            </div>

            <div class="mb-2">
              {% if course.publication %}
              <a class="btn btn-dark btn-sm" href="" data-bs-toggle="modal" 
                data-bs-target="#exampleModal-{{ course.id }}" style="width: 100%;">Here to start</a>
              {% else %}
              <a class="btn btn-danger btn-sm" href="" data-bs-toggle="modal" 
                data-bs-target="#exampleModal-{{ course.id }}" style="width: 100%;">Here to start</a>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="exampleModal-{{ course.id }}" tabindex="-1" 
          aria-labelledby="exampleModalLabel-{{ course.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content rounded-3 shadow">
              <div class="modal-body p-4 text-center" id="modal-body">
                <div style="display: flex; align-items: center; justify-content: end;">
                  <h5 class="pe-3">Please choose your action</h5>
                  <a class="btn-close mb-2 ms-5" type="button" aria-label="close" 
                  data-bs-dismiss="modal"></a>
                </div>
                <p>You can always change your mind.</p>
              </div>
              <div class="modal-footer flex-nowrap p-0">
                {% if request.user == course.host %}
                  <a class="btn btn-lg btn-link fs-6 text-decoration-none text-nowrap col py-3 m-0 rounded-0 border-end" 
                    href="{% url 'course-each' course.id %}">
                    <strong>Start course</strong>
                  </a>
                  <a class="btn btn-lg btn-link fs-6 text-decoration-none col py-3 m-0 rounded-0 border-end"
                    href="{% url 'course-result' course.id %}" style="color: green;">Result</a>
                  <a class="btn btn-lg btn-link fs-6 text-decoration-none col py-3 m-0 rounded-0 border-end"
                  href="{% url 'course-edit' course.id %}" style="color: rgb(222, 232, 17);">Edit</a>
                {% else %}
                  <a class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end" 
                    href="{% url 'course-each' course.id %}">
                    <strong>Start test</strong>
                  </a>
                  <a class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                    href="{% url 'course-result' course.id %}" style="color: green;">Result</a>
                {% endif %}

              </div>                  
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  let courses = document.getElementsByClassName('courses');
  const course_color = [
    '#C9E8F2', '#F8E6F4', '#D4DFF1', '#FFE9C2', '#ecc194', '#58f3a8', '#feae49', '#57bee6', '#e6e6e6',
    '#7ba697', '#f3b790', '#d08fa5', '#3c2973', '#b6bbf9', '#fbc99a', '#d586d7', '#fcdde8', '#cfc2fc',
    '#61c8a4', '#ffea7b', '#000'
  ]

  for (let i = 0; i < courses.length; i++) {
    courses[i].setAttribute("style", `background: ${ course_color[i] }; border: 1px solid #000;`);
  }

</script>

{% endblock %}
