{% extends 'main.html' %}

{% block content %}

  <section class="course-each-edit-page-form">

    {% if messages %}
      <ul class="messages" style="color:#e80d0d;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="col">
      <form method="POST" action="">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">Name of Course</label>
          <input type="text" class="form-control" name="name" value="{{ course.name }}" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Description of Course</label>
          <textarea class="form-control" name="body" aria-label="With textarea" required>{{ course.body }}</textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Max Number of Users</label>
          <input type="number" class="form-control" name="max_user_num" value="{{ course.max_user_num }}" >
        </div><br>

        <div class="mb-3">
          <label class="form-label">Content of Course</label>
          <p>...</p>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Save
        </button>
        <a class="btn btn-secondary" href="{% url 'course-each' course.id %}">Back</a>
  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure that you want to edit ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

  </section>

<script>
    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
      tx[i].addEventListener("input", OnInput, false);
    }
    
    function OnInput() {
      this.style.height = 0;
      this.style.height = (this.scrollHeight) + "px";
    }
</script>

{% endblock %}
