{% extends 'main.html' %}

{% block content %}

<section class="p-3 row">
  <div class="for-loop m-3 col-10">
    <article>

      <div class="m-3">
        {% if request.user == course.host %}
        <a class="btn btn-warning" href="{% url 'course-each-edit' course.id %}">Edit</a>
        <a type="button" class="btn btn-danger" id="course-id-{{ course.id }}"
          data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'course' %}">Back</a><hr>
      </div>
  
      <div class="m-3">
        <h3>{{ course.name }} </h3>
        <a href="{% url 'topic' course.topic.id %}"><span>{{ course.topic.name }}</span></a> | 
        <a href="{% url 'profile' course.host.id %}"><span>{{ course.host.username }}</span></a> |
        <span class="text-muted">{{ course.created_at }}</span><hr>
        <p>{{ course.body }}</p>
      </div>
    </article>
  
    <!-- content of course -->

    <article class="m-3">
      <h3>Contents of Course</h3><hr>
      {% for content in contents %}

          <div class="for-loop mb-3">
            <label class="form-label" id="list-item-{{ content.id }}">{{ content.name }}</label>
            <p class="form-control">{{ content.body }}</p>
          </div>

      {% endfor %}
      <div class="mb-3" id="course-each-content-div">

      </div>
    </article>

  </div>
  
  <div class="index-page-list col">
    <div id="list-example">
      {% for content in contents %}
      <a class="" href="#list-item-{{ content.id }}">{{ content.name }}</a>
      {% endfor %}
    </div>
  </div>

  <!-- delete modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
          <div class="text-muted">
            <p>Are you sure ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form method="POST" action="">
              {% csrf_token %}
              <input type="hidden" name="delete" value="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
