{% extends 'main.html' %}

{% block content %}

<section class="m-3 p-3">
  <form method="POST" action="">
    {% csrf_token %}

    <div class="white-border p-4 mb-4">
      <div class="mb-3">
        <h4>Course Edit Form ({{ course.id }})</h4>
        <p onclick="load_everyting()">click here to load form !!!</p>
      </div>

      <!-- course part -->
      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Name</label>
        <input class="form-control" type="text" name="course-name" placeholder="Name" value="{{ course.name }}" required>
      </div>

      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Topic</label>
        <input class="form-control me-3" type="text" name="course-topic">
        <select class="form-select">
          {% for topic in topics %}
            <option class="form-control">{{ topic.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Tag</label>
        <input class="form-control me-3" type="text" name="course-tag">
        <select class="form-select">
          {% for tag in tags %}
            <option class="form-control">{{ tag.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3" style="display: flex;">
        <label class="form-label me-3">Body</label>
        <textarea class="mytextarea form-control" style="width: 100%;" name="course-body">{{ course.body }}</textarea>
      </div>

      <div class="mb-3" style="display: flex;">
        <div style="width: 100%; display: flex;" class="me-3">
          <label class="form-label me-3" style="width: 100px;">Start Date</label>
          <input class="form-control" type="date" name="course-start" value="{{ course.start_date|date:'Y-m-d' }}">
        </div>

        <div style="width: 100%; display: flex;" class="">
          <label class="form-label me-3" style="width: 100px;">End Date</label>
          <input class="form-control" type="date" name="course-end" value="{{ course.end_date|date:'Y-m-d' }}">
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label me-3">Publication</label>
        {% if course.publication == True %}
          <input type="checkbox" name="course-public" checked>
        {% else %}
          <input type="checkbox" name="course-public">
        {% endif %}
      </div>
      
      <div style="display: flex; justify-content: space-between;">
        <div>
          <button class="btn btn-outline-primary me-2">Save form</button>
          <a class="btn btn-secondary" href="{% url 'course' %}">Discard</a>
        </div>
        <div>
          <a class="btn btn-danger" data-bs-toggle="modal" 
            data-bs-target="#exampleModal-delete">Delete</a>
        </div>
      </div>
    </div>

    <!-- chapter part -->
    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" id="{{ course.id }}" onclick="add_chapter(this.id)">Add chapter</a>
        <div id="success-chapter" style="display: none;"></div>
      </div>
      <div class="col p-3 ms-3" id="cour-chap-side">
        {% for chapter in contents %}
          <div class="accordion accordion-flush" style="border-bottom: 1px solid #e4e4e4;" id="cour-chap-{{ forloop.counter }}">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse1-{{ forloop.counter }}"
                  aria-controls="#flush-collapse1-{{ forloop.counter }}" aria-expanded="false">
                  <p>{{ forloop.counter }}</p>
                </a>
              </h2>
              <div class="accordion-collapse collapse" id="flush-collapse1-{{ forloop.counter }}">
                <div class="accordion-body" id="accordion-body1-{{ forloop.counter }}">
                  <div style="display: flex; flex-direction: row;" class="mb-3">
                    <label class="me-3">name</label>
                    <p class="form-control me-3">{{ chapter.name }}</p>
                    <a class="btn btn-light me-3 text-nowrap" onclick="del_chapter(this.id)" 
                      id="del-chapter-{{ forloop.counter }}-{{ chapter.id }}" style="width: max-content;">
                      <i class="fa-solid fa-trash"></i>
                      <span>Delete chapter</span>
                    </a>
                    <a class="btn btn-light text-nowrap" style="width: max-content;" href="{% url 'chapter-edit' course.id chapter.id %}" target="_blank">
                      <i class="fa-solid fa-trash"></i>
                      <span>Edit chapter</span>
                    </a>
                  </div>
                  <div style="display: flex;" class="mb-3">
                    <label class="me-3">body</label>
                    <p class="form-control">
                      {{ chapter.body|safe }}
                    </p>
                  </div>
                  <div style="display: flex;" class="mb-3">
                    <label class="me-3">Quizes total:</label>
                    <p class="text-muted">{{ chapter.quizs_count }}</p>
                  </div>
                  <div style="display: flex;" class="mb-3">
                    <label class="me-3">Files total:</label>
                    <p class="text-muted">{{ chapter.files_count }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- files part -->
    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" onclick="add_file()">Add file</a>
      </div>
      <div class="col p-3 ms-3" id="cour-file-side">
        {% for file in cour_files %}
          <div class="accordion accordion-flush" style="border-bottom: 1px solid #e4e4e4;" id="cour-file-{{ forloop.counter }}">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse2-{{ forloop.counter }}"
                  aria-controls="#flush-collapse2-{{ forloop.counter }}" aria-expanded="false">
                  <p>{{ forloop.counter }}</p>
                </a>
              </h2>
              <div class="accordion-collapse collapse" id="flush-collapse2-{{ forloop.counter }}">
                <div class="accordion-body" id="accordion-body2-{{ forloop.counter }}">
                  <div style="display: flex; flex-direction: row;" class="mb-3" id="testing">
                    <label class="me-3">Description</label>
                    <input class="form-control me-3" type="text" placeholder="Description here..." name="cour-file-desc-{{ forloop.counter }}"
                      required value="{{ file.description }}">
                    <a class="btn btn-light me-3 text-nowrap" onclick="del_cour_file(this.id)" id="del-cour-file-{{ forloop.counter }}" style="width: max-content;">
                      <i class="fa-solid fa-trash"></i>
                      <span>Delete file</span>
                    </a>
                  </div>
                  <div style="display: flex; flex-direction: row;" class="mb-3">
                    <label class="mb-3 me-3">file</label>
                    <input class="form-control mb-3" style="width: 100%;"
                      name="cour-file-{{ forloop.counter }}">{{ file.file }}</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- quiz part -->
    <div class="white-border p-4 row m-0 mb-3">
      <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
        <a class="btn btn-light" style="width: 100%;" id="{{ course.id }}"
          onclick="add_quiz(this.id)">Add quiz</a>
        <div id="success-quiz" style="display: none;"></div>
      </div>
      <div class="col p-3 ms-3" id="cour-quiz-side">
        {% for quiz in quizs %}
          <div class="accordion accordion-flush" style="border-bottom: 1px solid #e4e4e4;" id="cour-quiz-{{ forloop.counter }}">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse3-{{ forloop.counter }}"
                  aria-controls="#flush-collapse3-{{ forloop.counter }}" aria-expanded="false">
                  <p>{{ forloop.counter }}</p>
                </a>
              </h2>
              <div class="accordion-collapse collapse" id="flush-collapse3-{{ forloop.counter }}">
                <div class="accordion-body" id="accordion-body3-{{ forloop.counter }}">
                  <div style="display: flex; flex-direction: row;" class="mb-3">
                    <label class="me-3">name</label>
                    <p class="form-control me-3">
                      {{ quiz.name }}
                    </p>
                    <a class="btn btn-light me-3 text-nowrap" id="del-quiz-{{ forloop.counter }}-{{ quiz.id }}"
                      onclick="del_quiz(this.id)" style="width: max-content;">
                      <i class="fa-solid fa-trash"></i>
                      <span>Delete quiz</span>
                    </a>
                    <a class="btn btn-light text-nowrap" style="width: fit-content;" href="{% url 'quiz-edit' quiz.id %}" target="_blank">
                      <i class="fa-solid fa-trash"></i>
                      <span>Edit quiz</span>
                    </a>
                  </div>
                  <div style="display: flex;" class="mb-3">
                    <label class="me-3">Number of Questions</label>
                    <p class="form-control">
                      {{ quiz.questions_count }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </form>
</section>

<div class="custom-toast" id="toast" style="display: none;">
  <div class="toast-content">
      <i class="fa fa-solid fa-check check"></i>
      <div class="message">
          <span class="text text-1" id="text-1">Success</span>
          <span class="text text-2" id="text-2">Your changes has been saved</span>
      </div>
  </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="exampleModal-delete" tabindex="-1" 
  aria-labelledby="exampleModalLabel-delete" aria-hidden="true">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5">Delete course {{ course.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <p>This action will delete the course you are editing. Are you sure to continue ?</p>
      </div>
      <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
        <a type="button" class="btn btn-danger" href="{% url 'course-delete' course.id %}">Delete</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
