{% load humanize %}

<div class="row d-sm-flex flex-wrap m-0 gap-4">
  {% for course, progress in course_progresses %}
    <div class="col flex-fill" style="min-width: 200px; width: 250px; max-width: 300px;">
      <div class="white-border p-3 courses" id="{{ forloop.counter }}">
        <div class="mb-3">
          <p class=""><b>{{ course.name }}</b><span class="ms-2 small-font-size text-muted">
            (<a href="{% url 'profile' course.host.id %}">{{ course.host }}</a>)</span>
          </p>
          <p class="small-font-size text-muted">{{ course.created_at|naturaltime }}</p>
        </div>
        <div class="mb-4 small-font-size blue-border" style="transform: rotate(-2deg);">     
          {% if course.body == None or course.body == '' or course.body == 'None' %}
            <p style="font-weight: 600;">There is no introduction yet.</p>
          {% else %}
            <p style="font-weight: 600;">{{ course.body|safe|truncatewords_html:10  }}</p>
          {% endif %}
        </div>

        {% if course.start_date and course.end_date %}
          <div class="mb-3">
            <div class="small-font-size" style="display: flex; justify-content: space-between; font-weight: 600;">
              <p>Start date</p>
              <p>End date</p>
            </div>
            <div class="small-font-size text-muted" style="display: flex; justify-content: space-between;">
              <p>{{ course.start_date|date:'Y-m-d' }}</p>
              <p>{{ course.end_date|date:'Y-m-d' }}</p>
            </div>
          </div>
        {% endif %}

        {% if progress.user %}
          <div class="mb-2 small-font-size" style="display: flex; justify-content: space-between;">
            <p style="font-weight: 600;">Progress</p>
            <p style="font-weight: 600;">{{ progress.value }} %</p>
          </div>

          <div class="progress" role="progressbar" aria-label="Default striped example" 
            aria-valuenow="{{ progress.value }}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped course-progress-bar" id="{{ progress.value }}"
              style="width: 0.0%; background: #382464;">{{ progress.value }}%</div>
          </div>
        {% endif %}

        <div class="mb-2">
          <p class="small-font-size" style="font-weight: 600;">Tags</p>
          <div class="small-font-size">              
            {% if not course.tag %}
              <p class="text-muted">There is no tags.</p>
            {% else %}
              <p>{{ course.tag }}</p>
            {% endif %}
          </div>
        </div>

        <div class="mb-2">
          {% if course.publication %}
            {% if not request.user.is_staff %}
              <a class="btn btn-dark btn-sm course-start-btn" href="" data-bs-toggle="modal"
                data-bs-target="#exampleModal-{{ course.id }}" style="width: 100%;">Here to start</a>
            {% else %}
              <a class="btn btn-dark btn-sm" href="" data-bs-toggle="modal"
                data-bs-target="#exampleModal-{{ course.id }}" style="width: 100%;">Here to start</a>
            {% endif %}
          {% else %}
          <a class="btn btn-danger btn-sm" href="" data-bs-toggle="modal" 
            data-bs-target="#exampleModal-{{ course.id }}" style="width: 100%;">Here to start</a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="exampleModal-{{ course.id }}" tabindex="-1" 
      aria-labelledby="exampleModalLabel-{{ course.id }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-3 shadow">
          <div class="modal-body p-4 text-center" id="modal-body">
            <div style="display: flex; align-items: center; justify-content: end;">
              <h5 class="pe-3">Please choose your action</h5>
              <a class="btn-close mb-2 ms-5" type="button" aria-label="close" 
              data-bs-dismiss="modal"></a>
            </div>
            <p>You can always change your mind.</p>
          </div>

          <div class="modal-footer flex-nowrap p-0">
            {% if request.user == course.host %}
              <a class="btn btn-lg btn-link fs-6 text-decoration-none text-nowrap col py-3 m-0 rounded-0 border-end" 
                href="{% url 'course-each' course.id %}">
                <strong>Start course</strong>
              </a>
              <a class="btn btn-lg btn-link fs-6 text-decoration-none col py-3 m-0 rounded-0 border-end"
                href="{% url 'course-result' course.id %}" style="color: green;">Result</a>
              <a class="btn btn-lg btn-link fs-6 text-decoration-none col py-3 m-0 rounded-0 border-end"
              href="{% url 'course-edit' course.id %}" style="color: rgb(222, 232, 17);">Edit</a>
            {% else %}
              <a class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end" 
                href="{% url 'course-each' course.id %}">
                <strong>Start course</strong>
              </a>
              <a class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"
                href="{% url 'course-result' course.id %}" style="color: green;">Result</a>
            {% endif %}
          </div>                  
        </div>
      </div>
    </div>
  {% endfor %}

  {{ courses_secure|json_script:"json-courses-date" }}
 </div>

<script>
  var courses_date = document.getElementById("json-courses-date");
  var course_start_btns = document.getElementsByClassName("course-start-btn");
  var todays_date = new Date();

  courses_date = courses_date.innerHTML.replaceAll('T00:00:00Z', '').replace('[', '').replace(']', '').split(',');

  for (let i = 0; i < course_start_btns.length; i++) {
    let course_date = courses_date[i].split('-');
    course_date = new Date(courses_date[i]);

    if (course_date > todays_date) {
      course_start_btns[i].setAttribute('class', 'btn btn-dark btn-sm course-start-btn disabled');
      course_start_btns[i].parentNode.setAttribute('data-bs-toggle', 'tooltip');
      course_start_btns[i].parentNode.setAttribute('data-bs-placement', 'bottom');
      course_start_btns[i].parentNode.setAttribute('title', 'Course has not started yet');
    }
  }

  var courses = document.getElementsByClassName('courses');
  var course_color = [
    '#C9E8F2', '#F8E6F4', '#D4DFF1', '#FFE9C2', '#ecc194', '#58f3a8', '#feae49', '#57bee6',
    '#7ba697', '#f3b790', '#d08fa5', '#b6bbf9', '#fbc99a', '#d586d7', '#fcdde8', '#cfc2fc',
    '#61c8a4', '#ffea7b', '#e6e6e6', '#C9E8F2', '#F8E6F4', '#D4DFF1', '#FFE9C2', '#ecc194',
    '#C9E8F2', '#F8E6F4', '#D4DFF1', '#FFE9C2', '#ecc194', '#58f3a8', '#feae49', '#57bee6',
    '#7ba697', '#f3b790', '#d08fa5', '#b6bbf9', '#fbc99a', '#d586d7', '#fcdde8', '#cfc2fc',
    '#61c8a4', '#ffea7b', '#e6e6e6', '#C9E8F2', '#F8E6F4', '#D4DFF1', '#FFE9C2', '#ecc194',
  ]

  for (let i = 0; i < courses.length; i++) {
    courses[i].setAttribute("style", `background: ${ course_color[i] }; border: 1px solid #000;`);
  }

  var progress_bars = document.getElementsByClassName('course-progress-bar');

  for (let i = 0; i < progress_bars.length; i++) {
  progress_bars[i].setAttribute("style", `width: ${ progress_bars[i].id }%;`);
  }

</script>
