{% extends 'main.html' %}

{% block content %}

<section class="wrapper-margin-padding row">
  <div class="col-10">
    <article>
      <div>
        {% if course.host.is_authenticated %}
        <a class="btn btn-warning" href="{% url 'course-each-edit' course.id %}">Edit ?</a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'course' %}">Back</a><hr>
      </div>
  
      <div class="col">
        <div>
          <h3>{{ course.name }} </h3>
              <a href="{% url 'topic' course.topic.id %}"><span>{{ course.topic.name }}</span></a> | 
              <a href="{% url 'profile' course.host.id %}"><span>{{ course.host.username }}</span></a> |
              <span class="text-muted">{{ course.created_at }}</span><hr>
          
          <p>{{ course.body }}</p>
        </div>
  
      </div>
    </article>
  
    <button class="btn btn-primary" onclick="myFunction()">Add Content</button><hr>
  
    <article id="course-each-content-add" style="display:none;"">
  
      <form method="POST" action="" id="course-each-content-form" >
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Name of Content</label>
          <input type="text" class="form-control" id="content-name" name="name" required>
        </div><br>
  
        <div class="mb-3">
          <label class="form-label">Body of Content</label>
          <textarea class="form-control" id="content-body" name="body" required></textarea>
        </div>
  
        <div class="mb-3" id="course-each-content-add-file-div">
          <label class="form-label">File of Content</label>
          <input type="file" class="form-control" id="content-file" name="file" required>
        </div>
        <button class="btn btn-primary" id="course-each-content-add-button" onclick="course_each_content_add_button()">
          Add More Files ?</button><hr>
        <button type="submit" class="btn btn-primary" >Save</button><hr>
      </form>
  
    </article>
  
    <article>
  
      <h3>Contents of Course</h3><hr>
      {% for content in contents %}
        {% if content.course.id is course.id %}
          <div class="for-loop mb-3">
            <label class="form-label" id="list-item-{{ content.id }}">{{ content.name }}</label>
            <p class="form-control">{{ content.body }}</p>
          </div>
        {% endif %}
      {% endfor %}
      <div class="mb-3" id="course-each-content-div">
      </div>
    </article>
  </div>
  
  <div class="index-page-list col">
    <div id="list-example">
      {% for content in contents %}
      <a class="" href="#list-item-{{ content.id }}">{{ content.name }}</a>
      {% endfor %}
    </div>
  </div>

</section>

<script type="text/javascript">

    $(document).on('submit', '#course-each-content-form', function(e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: "{% url 'course-each' course.id %}",
        data: {
          name: $('#content-name').val(),
          body: $('#content-body').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data){
          var content_result_label = document.createElement('label');
          content_result_label.innerHTML = data.name;
          content_result_label.className = 'form-label';

          var content_result_p = document.createElement('p');
          content_result_p.innerHTML = data.body;
          content_result_p.className = 'form-control';

          content_result_div = document.getElementById('course-each-content-div');
          content_result_div.append(content_result_label, content_result_p);
          alert('Content has been created !');
        } 
      });
    });

    function myFunction() {
      var course_each_add_btn = document.getElementById("course-each-content-add");
      if (course_each_add_btn.style.display === "none") {
        course_each_add_btn.style.display = "block";
      } else {
        course_each_add_btn.style.display = "none";
      }
    }

    function course_each_content_add_button() {
      content_files_div = document.getElementById("course-each-content-add-file-div");
      content_files_space = document.createElement('br');
      content_files_delete = document.createElement('button');
      content_files_delete.innerHTML = 'remove';
      content_files_delete.className = 'btn btn-danger';

      var content_files = document.createElement('input');
      content_files.className = 'form-control';
      content_files.type = 'file';
      content_files_div.append(content_files_space, content_files, content_files_delete);
    }

    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
      tx[i].addEventListener("input", OnInput, false);
    }
  
    function OnInput() {
      this.style.height = 0;
      this.style.height = (this.scrollHeight) + "px";
    }


</script>



{% endblock %}
