{% extends 'main.html' %}

{% block content %}

  <section class="topic-page-section">

    <div class="row">
      <article class="col-10">
        {% for course in courses %}
          <div class="mb-3">
            <h3 class="" id="list-item-{{ course.id }}">{{ course.name }}</h3>
            <span>{{ course.topic.name }}</span><hr>
            <p>{{ course.body }}</p>
          </div>
        {% endfor %}
      </article>

      <article class="course-page-list col">
        <div id="list-example">
          {% for course in courses %}
            <a href="#list-item-{{ course.id }}">{{ course.name }}</a>
          {% endfor %}
        </div>
      </article>
      
    </div>
  </section>

{% endblock %}
