{% extends 'main.html' %}

{% block content %}

<section class="m-3">
  <div class="m-3">
    <div class="p-3 white-border row row-cols-4 m-0">
      {% for badge in badges %}
        <div class="col mb-2" style="display: flex; flex-direction: column; align-items: center;">
          <p>{{ badge.name }}</p>
          {% if badge.picture %}
            <img src="{{ badge.picture.url }}" style="width: 100px; height: 90px;">
          {% else %}
            <img style="width: 100px; height: 90px;">
          {% endif %}
          <p style="text-align: center;">{{ badge.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
