{% extends 'main.html' %}
{% load humanize %}

{% block content %}
  {% if curr_user.is_staff %}
    <section class="m-3">
      <div class="m-3">
        <div class="row m-0" style="gap: 1rem;">
          <!-- Shortcut -->
          <div class="col-3 white-border">
            <div class="m-3">
              <h5>Shortcut</h5>
            </div>
            {% if curr_user == request.user %}
              <div class="m-3">
                <a class="btn btn-outline-primary mb-2" style="width: 100%;" href="{% url 'quiz-create' %}">Add Quiz</a>
              </div> 

              <div class="m-3">
                <a class="btn btn-outline-primary mb-2" style="width: 100%;" href="{% url 'course-create' %}">Add Course</a>
              </div>
            {% endif %}
          </div>

          <!-- badges -->
          <div class="col-3 white-border">
            <div class="m-3">
              <h5>Badges</h5>
            </div>
            <div class="m-3">
              {% for badge in badges %}

              {% empty %}
                <p>There is no badge here.</p>
              {% endfor %}
            </div>
          </div>

          <div class="col white-border">
            <div class="m-3"></div>
          </div>
        </div>

        <!-- Quiz and Course side -->  
        <div class="mt-3 row m-0" style="gap: 1rem;">
          <!-- quiz side -->
          <section class="col white-border p-3" style="width: 100%;">
            <div class="m-2">              
              <table class="table table-bordered small-font-size">
                <thead>
                  <tr>
                    <th>Public</th>
                    <th>Name</th>
                    <th>Questions</th>
                    <th>Difficulty</th>
                    <th>Minimum</th>
                    <th>Duration</th>
                    <th>Points</th>
                    <th>Experience</th>
                  </tr>
                </thead>
                <tbody>
                  {% for quiz in quizs %}
                    {% if quiz.publication %}
                      <tr>
                        <td>{{ quiz.publication }}</td>
                        <td><a href="{% url 'quiz-result' quiz.id %}">{{ quiz.name }}</a></td>
                        <td>{{ quiz.child_count }}</td>
                        {% if quiz.difficulty == 'Easy' %}
                          <td style="display: flex; align-items: center;">
                            <span class="badge text-bg-success">{{ quiz.difficulty }}</span>
                          </td>
                        {% elif quiz.difficulty == 'Medium' %}
                          <td style="display: flex; align-items: center;">
                            <span class="badge text-bg-warning">{{ quiz.difficulty }}</span>
                          </td>
                        {% else %}
                          <td style="display: flex; align-items: center;">
                            <span class="badge text-bg-danger">{{ quiz.difficulty }}</span>
                          </td>
                        {% endif %}
                        <td>{{ quiz.required_score }} %</td>
                        <td>{{ quiz.duration|date:"c" }}</td>
                        <td>{{ quiz.pts }}</td>
                        <td>{{ quiz.exp }}</td>
                      </tr>
                    {% else %}
                      <tr  class="table-danger">
                        <td>{{ quiz.publication }}</td>
                        <td><a href="{% url 'quiz-result' quiz.id %}">{{ quiz.name }}</a></td>
                        <td>{{ quiz.child_count }}</td>
                        {% if quiz.difficulty == 'Easy' %}
                          <td style="display: flex; align-items: center; justify-content: center;">
                            <span class="badge text-bg-success">{{ quiz.difficulty }}</span>
                          </td>
                        {% elif quiz.difficulty == 'Medium' %}
                          <td style="display: flex; align-items: center; justify-content: center;">
                            <span class="badge text-bg-warning">{{ quiz.difficulty }}</span>
                          </td>
                        {% else %}
                          <td style="display: flex; align-items: center; justify-content: center;">
                            <span class="badge text-bg-danger">{{ quiz.difficulty }}</span>
                          </td>
                        {% endif %}
                        <td>{{ quiz.required_score }} %</td>
                        <td>{{ quiz.duration|date:"c" }}</td>
                        <td>{{ quiz.pts }}</td>
                        <td>{{ quiz.exp }}</td>
                      </tr>
                    {% endif %}
                    {% empty %}
                    <tr><td>No quiz has been created</td></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </section>

          <!-- course side -->
          <section class="col white-border p-3" style="width: 100%;">
            <div class="m-2">              
              <table class="table table-bordered small-font-size">
                <thead>
                  <tr>
                    <th style="width: 50px;">Public</th>
                    <th>Name</th>
                    <th style="width: 50px;">Contents</th>
                    <th>Users</th>
                    <th>Topics</th>
                    <th>Tags</th>
                    <th>Created</th>
                  </tr>
                </thead>
                <tbody>
                  {% for course in courses %}
                    {% if course.publication %}
                    <tr>
                      <td>{{ course.publication }}</td>
                      <td class="text-nowrap"><a href="{% url 'course-result' course.id %}">{{ course.name }}</a></td>
                      <td>{{ course.contents|length }}</td>
                      <td>{{ course.users|length }}</td>
                      <td>{{ course.topics|length }}</td>
                      {% if course.tag == 'Beginner' %}
                        <td style="display: flex; align-items: center;">
                          <span class="badge text-bg-success">{{ course.tag }}</span>
                        </td>
                      {% elif course.tag == 'Intermediate' %}
                        <td style="display: flex; align-items: center;">
                          <span class="badge text-bg-warning">{{ course.tag }}</span>
                        </td>
                      {% else %}
                        <td style="display: flex; align-items: center;">
                          <span class="badge text-bg-danger">{{ course.tag }}</span>
                        </td>
                      {% endif %}
                      <td>{{ course.created_at|naturaltime }}</td>
                    </tr>
                    {% else %}
                      <tr class="table-danger">
                        <td>{{ course.publication }}</td>
                        <td class="text-nowrap"><a href="{% url 'course-result' course.id %}">{{ course.name }}</a></td>
                        <td>{{ course.contents|length }}</td>
                        <td>{{ course.users|length }}</td>
                        <td>{{ course.topics|length }}</td>
                        <td>{{ course.tag }}</td>
                        <td>{{ course.created_at|naturaltime }}</td>
                      </tr>
                    {% endif %}
                  {% empty %}
                    <tr><td>Currently, no course has been created by this user.</td></tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  {% else %}
    <section class="m-3">
      <div class="m-3">
        <div class="row m-0 mb-3" style="gap: 1rem;">
          <!-- solved quizes -->
          <div class="col-3 white-border">
            <div class="m-3">
              <h5>Solved Quizes</h5>
              <div class="row small-font-size">
                <div class="col">
                  <p class="text-nowrap">
                    <span>Easy</span> 
                    <span>{{ comp_easy }}/{{ quizs_easy }}</span>
                  </p>
                </div>
                <div class="col">
                  <p class="text-nowrap">
                    <span>Medium</span> 
                    <span>{{ comp_medium }}/{{ quizs_medium }}</span>
                  </p>
                </div>
                <div class="col">
                  <p class="text-nowrap">
                    <span>Hard</span> 
                    <span>{{ comp_hard }}/{{ quizs_hard }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- badges -->
          <div class="col-3 white-border">
            <div class="m-3">
              <h5>Badges</h5>
            </div>
            <div class="m-3">
              {% for badge in badges %}

              {% empty %}
                <p>There is no badge here.</p>
              {% endfor %}
            </div>
          </div>

          <div class="col white-border">
            <div class="m-3"></div>
          </div>
        </div>

        <div class="row m-0" style="gap: 1rem;">
          <!-- result data -->
          <div class="col white-border">
            <div class="m-3">
              <h5>Result data</h5>
            </div>
            <div class="m-3">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px;">#</th>
                    <th>Quiz</th>
                    <th>Difficulty</th>
                    <th>Score</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for average_result in results reversed %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ average_result.quiz.name }}</td>
                    <td>{{ average_result.quiz.difficulty }}</td>
                    <td>{{ average_result.score|floatformat:2 }}</td>
                    <td>{{ average_result.created_at|naturaltime }}</td>
                  </tr>
                  {% empty %}
                    <tr><td class="text-nowrap">This user has not taken any test.</td></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <!-- completion status -->
          <div class="col white-border">
            <div class="m-3">
              <h5>Completion Status</h5>
            </div>
            <div class="m-3">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Quiz</th>
                    <th>Course</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ complete_quiz.count }} / {{ quiz_count }}</td>
                    <td>{{ complete_course.count }} / {{ course_count }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endif %}

{% endblock %}


