{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="m-3">
  <div class="m-3">
  {% if curr_user.is_staff %}
    <div>
      <div class="row rows-col-2 m-0" style="height: 600px;">
        <!-- profile info side -->
        <section class="white-border col-3" style="height: 600px;">
          <div class="m-2">
            {% if request.user != curr_user %}
  
              {% if is_follower == False and is_self == False %}
  
                <!-- they sent you -->
                {% if request_sent == 0 %}
                  <a class="btn btn-outline-success" href="{% url 'accept-follow-request' pending_follow_request_id %}" 
                    style="width: 100%;">Accept Follow Request</a>
                  <a class="btn btn-outline-danger" href="{% url 'cancel-follow-request' curr_user.id %}" style="width: 100%;">Cancel</a>
                {% endif %}
  
                <!-- you sent them request -->
                {% if request_sent == 1 %}
                    <a class="btn btn-outline-danger" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                    href="{% url 'cancel-follow-request' curr_user.id %}" style="width: 100%;">Cancel Follow Request</a>
                {% endif %}
          
                <!-- no request sent -->
                {% if request_sent == -1 %}
                    <a class="btn btn-outline-primary" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                      href="{% url 'send-follow-request' curr_user.id %}" style="width: 100%;">Send Follow Request</a>
                {% endif %}
        
              {% endif %}
  
              {% if is_follower %}
                <a class="btn btn-outline-info" href="">Message</a>
                <a class="btn btn-outline-dark" href="{% url 'decline-follow' curr_user.id  %}">Unfollow</a>
              {% endif %}
  
            {% endif %}
            <div id="request-result"></div>
          </div>
  
          <div class="m-3">
            <div class="mb-3" style="display: flex; flex-direction: column; align-items: center;">
              <img src="{{ curr_user.profile.avatar.url }}" style="width: 120px;">
              <div class="mt-2" style="width: 100%; display: flex; justify-content: space-between;">
                <p>Username: <b>{{ curr_user.username|title }}</b></p>
                <p>Rank: 00000</p>
              </div>
            </div>
  
            <div class="mb-3">
              {% if request.user == curr_user %}
                <a style="width: 100%;" class="btn btn-outline-success" href="{% url 'profile-update' %}">Edit Profile</a>
              {% endif %}
            </div>
  
            <div class="mb-2" style="display: flex; justify-content: space-between;">
                <a href="{% url 'followers' curr_user.id %}">Followers: {{ curr_user.followers.count }}</a>
                <a href="{% url 'followers' curr_user.id %}">Request: {{ follow_requests|length }}</a>
            </div>
          </div>
        </section>

        <!-- profile right side -->
        <div class="col mb-3 pe-0 ps-0" style="height: 600px;">
          <div class="row m-0 pb-3" style="height: 200px;">
            <!-- Solved Quizes -->
            <section class="white-border col-5 ms-3">
              <div class="m-2 mt-3 small-font-size">
                <h5>Solved Quizes</h5>
                <div class="" style="display: flex;">
                  <!-- easy -->
                  <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
                    <p>
                      <span class="col">Easy</span> 
                      <span class="col">{{ comp_easy }} / {{ quizs_easy }}</span>
                    </p>
                  </div>
                  <!-- medium -->
                  <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
                    <p>
                      <span class="col">Medium</span> 
                      <span class="col">{{ comp_medium }} / {{ quizs_medium }}</span>
                    </p>
                  </div>
                  <!-- hard -->
                  <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
                    <p>
                      <span class="col">Hard</span> 
                      <span class="col">{{ comp_hard }} / {{ quizs_hard }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </section>
        
            <!-- Badges -->
            <section class="white-border col ms-3">
              <div class="m-2 mt-3">
                <h5>Badges</h5>
                <div class="mb-2">
                  <p>{{ profile.badges.count }}</p>
                </div>
                <div class="row m-0">
                  <div class="col m-2" style="background: black; height: 100px;">
                    <p></p>
                  </div>
                  <div class="col m-2" style="background: black;">
                    <p></p>
                  </div>
                  <div class="col m-2" style="background: black;">
                    <p></p>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- graphics -->
          <div class="white-border ms-3 p-3" style="max-height: 400px; height: 100%;">
            <h5>Graphics</h5>
          </div>
        </div>
      </div>
  
      <!-- result data -->
      <section class="p-3 mt-3 white-border text-nowrap">
        <div class="mb-3">
          <h3>Result data</h3>
        </div>
        <div class="mb-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px;">#</th>
                <th>Quiz</th>
                <th>Score</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for average_result in results reversed %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ average_result.quiz.name }}</td>
                <td>{{ average_result.score|floatformat:2 }}</td>
                <td>{{ average_result.created_at}}</td>
              </tr>
              {% empty %}
                This user has not taken any test.
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
  
      <!-- completion status -->
      <section class="p-3 mt-3 white-border text-nowrap">
        <div class="mb-3">
          <h3>Completion Status</h3>
        </div>
        <div class="mb-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Quiz</th>
                <th>Course</th>
                <th>Contest</th>
                <th>Challenges</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ complete_quiz.count }} / {{ quiz_count }}</td>
                <td>{{ complete_course.count }} / {{ course_count }}</td>
                <td>{{ complete_contest.count }} / {{ contest_count }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
  
      <!-- Quiz side -->  
      <div class="mt-3" style="display: flex; justify-content: space-between; width: 100%;">
        <section class="white-border me-2 mb-0 p-3" style="width: 100%;">
          <div class="m-2">
            {% if curr_user == request.user %}
              <div class="row me-1 ms-1">
                <a class="btn btn-outline-primary mb-2" href="{% url 'quiz-create' %}">Add Quiz</a>
              </div> 
            {% endif %}
  
            <div class="small-font-size">
              <p>{{ quizs.count }} Quizes have been created</p>
            </div>
            
            <div class="small-font-size">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Title</th>
                    <th scope="col">Questions</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Acceptance</th>
                    <th scope="col">Duration</th>
                  </tr>
                </thead>
  
                <tbody>
                  {% for quiz in quizs %}
                    <tr>
                      <th scope="row"></th>
                      <td>
                        {{ forloop.counter }}. <a href="{% url 'profile-result' quiz.id %}">{{ quiz.name }}</a>
                      </td>
                      <td>{{ quiz.child_count }}</td>
                      <td class="difficulty-color" value="{{ quiz.difficulty }}">{{ quiz.difficulty }}</td>
                      <td>{{ quiz.required_score }} %</td>
                      <td>{{ quiz.duration|date:"c" }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
  
        <!-- course side -->
        <section class="white-border ms-2 mb-0 p-3" style="width: 100%;">
          <div class="m-2">
            {% if curr_user == request.user %}
              <div class="row me-2 ms-2">
                <a class="btn btn-outline-primary mb-2" href="{% url 'course-create' %}">Create Course</a>
              </div>
            {% endif %}
            <div class="small-font-size">
              <p>{{ courses.count }} Courses have been created</h3>
            </div>
            
            <div class="row small-font-size">
              {% for course in courses %}
                <div class="col-4 border m-2">
                  <label><b>{{ course.name }}</b></label><hr>
                  <p>{{ course.body|striptags|safe|truncatechars:100 }}</p>
                </div>
                {% empty %}
                  <p>Currently, no course has been created by this user.</p>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
  
      <!-- Contest side --> 
      <div class="mt-3" style="display: flex; justify-content: space-between; width: 100%;"> 
        <section class="white-border me-2 mb-0 p-3" style="width: 100%;">
          <div class="m-2">
            {% if curr_user == request.user %}
              <div class="row me-1 ms-1">
                <a class="btn btn-outline-primary mb-2" href="{% url 'contest-create' %}">Add Contest</a>
              </div> 
            {% endif %}
  
            <div class="small-font-size">
              <p>{{ contests.count }} Contest have been created</p>
            </div>
            
            <div class="small-font-size">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Points</th>
                    <th>Experience</th>
                    <th>Created</th>
                    <th>Started</th>
                    <th>Ended</th>
                  </tr>
                </thead>
  
                <tbody>
                  {% for contest in contests %}
                    <tr>
                      <td>
                        {{ forloop.counter }}. <a href="{% url 'profile-result' quiz.id %}">{{ contest.name }}</a>
                      </td>
                      <td>{{ contest.pts }}</td>
                      <td>{{ contest.exp }}</td>
                      <td>{{ contest.created_at }}</td>
                      <td>{{ contest.start_date }}</td>
                      <td>{{ contest.end_date }}</td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td>No contest has been created</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
  
        <!-- Daily challenge -->
        <section class="white-border ms-2 mb-0 p-3" style="width: 100%;">
          <div class="m-2">
            {% if curr_user == request.user %}
              <div class="row me-2 ms-2">
                <a class="btn btn-outline-primary mb-2" href="">Create challenge</a>
              </div>
            {% endif %}
            <div class="small-font-size">
              <p>{{ challenges.count }} Challenges have been created</h3>
            </div>

          </div>
        </section>
      </div>
  
    </div>
  {% else %}
    <div>
      <div class="row rows-col-2 m-0" style="height: 600px;">
        <!-- profile info side -->
        <section class="white-border col-3" style="height: 600px;">
          <div class="m-2">
            {% if request.user != curr_user %}
  
              {% if is_follower == False and is_self == False %}
  
                <!-- they sent you -->
                {% if request_sent == 0 %}
                  <a class="btn btn-outline-success" href="{% url 'accept-follow-request' pending_follow_request_id %}" 
                    style="width: 100%;">Accept Follow Request</a>
                  <a class="btn btn-outline-danger" href="{% url 'cancel-follow-request' curr_user.id %}" style="width: 100%;">Cancel</a>
                {% endif %}
  
                <!-- you sent them request -->
                {% if request_sent == 1 %}
                    <a class="btn btn-outline-danger" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                    href="{% url 'cancel-follow-request' curr_user.id %}" style="width: 100%;">Cancel Follow Request</a>
                {% endif %}
          
                <!-- no request sent -->
                {% if request_sent == -1 %}
                    <a class="btn btn-outline-primary" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                      href="{% url 'send-follow-request' curr_user.id %}" style="width: 100%;">Send Follow Request</a>
                {% endif %}
        
              {% endif %}
  
              {% if is_follower %}
                <a class="btn btn-outline-info" href="">Message</a>
                <a class="btn btn-outline-dark" href="{% url 'decline-follow' curr_user.id  %}">Unfollow</a>
              {% endif %}
  
            {% endif %}
            <div id="request-result"></div>
          </div>
  
          <div class="m-3">
            <div class="mb-3" style="display: flex; flex-direction: column; align-items: center;">
              <img src="{{ curr_user.profile.avatar.url }}" style="width: 120px;">
              <div class="mt-2" style="width: 100%; display: flex; justify-content: space-between;">
                <p>Username: <b>{{ curr_user.username|title }}</b></p>
                <p>Rank: 00000</p>
              </div>
            </div>
  
            <div class="mb-3">
              {% if request.user == curr_user %}
                <a style="width: 100%;" class="btn btn-outline-success" href="{% url 'profile-update' %}">Edit Profile</a>
              {% endif %}
            </div>
  
            <div class="mb-2" style="display: flex; justify-content: space-between;">
                <a href="{% url 'followers' curr_user.id %}">Followers: {{ curr_user.followers.count }}</a>
                <a href="{% url 'followers' curr_user.id %}">Request: {{ follow_requests|length }}</a>
            </div>
          </div>
        </section>

        <!-- profile right side -->
        <div class="col mb-3 pe-0 ps-0" style="height: 600px;">
          <div class="row m-0 pb-3" style="height: 200px;">
            <!-- Solved Quizes -->
            <section class="white-border col-5 ms-3">
              <div class="m-2 mt-3 small-font-size">
                <h5>Solved Quizes</h5>
                <div class="" style="display: flex;">
                  <!-- easy -->
                  <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
                    <p>
                      <span class="col">Easy</span> 
                      <span class="col">{{ comp_easy }} / {{ quizs_easy }}</span>
                    </p>
                  </div>
                  <!-- medium -->
                  <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
                    <p>
                      <span class="col">Medium</span> 
                      <span class="col">{{ comp_medium }} / {{ quizs_medium }}</span>
                    </p>
                  </div>
                  <!-- hard -->
                  <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
                    <p>
                      <span class="col">Hard</span> 
                      <span class="col">{{ comp_hard }} / {{ quizs_hard }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </section>
        
            <!-- Badges -->
            <section class="white-border col ms-3">
              <div class="m-2 mt-3">
                <h5>Badges</h5>
                <div class="mb-2">
                  <p>{{ profile.badges.count }}</p>
                </div>
                <div class="row m-0">
                  <div class="col m-2" style="background: black; height: 100px;">
                    <p></p>
                  </div>
                  <div class="col m-2" style="background: black;">
                    <p></p>
                  </div>
                  <div class="col m-2" style="background: black;">
                    <p></p>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- graphics -->
          <div class="white-border ms-3 p-3" style="max-height: 400px; height: 100%;">
            <h5>Graphics</h5>
          </div>
        </div>
      </div>
  
      <!-- result data -->
      <section class="p-3 mt-3 white-border text-nowrap">
        <div class="mb-3">
          <h5>Result data</h5>
        </div>
        <div class="mb-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px;">#</th>
                <th>Quiz</th>
                <th>Difficulty</th>
                <th>Score</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for average_result in results reversed %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ average_result.quiz.name }}</td>
                <td>{{ average_result.quiz.difficulty }}</td>
                <td>{{ average_result.score|floatformat:2 }}</td>
                <td>{{ average_result.created_at}}</td>
              </tr>
              {% empty %}
                This user has not taken any test.
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>

  {% endif %}
  </div>
</section>


{% endblock %}
