{% extends 'main.html' %}

{% block content %}

  <div class="container text-center">
    <div class="row">
      <section class="profile-page-form col-4">
        <div>
          {% if request.user == user %}
          <a type="button" class="btn btn-outline-primary" href="{% url 'profile-update' %}">Update</a>
          <a type="button" class="btn btn-outline-danger" href="{% url 'delete' %}">Delete</a>
          {% endif %}
          <a type="button" class="btn btn-outline-secondary" href="{% url 'home' %}">Return</a>
        </div>
        
        <div>
          <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
          <p>{{ user.username }}</p>
        </div><hr>
        <div>
          <label for="inputEmail3" class="col-sm-2 col-form-label">First name</label>
          <p>{{ user.first_name }}</p>
        </div><hr>
        <div>
          <label for="inputEmail3" class="col-sm-2 col-form-label">Last name</label>
          <p>{{ user.last_name }}</p>
        </div><hr>
        <div>
          <label for="inputEmail3" class="col-sm-2 col-form-label">Birthday</label>
          <p>{{ user.birthday }}</p>
        </div><hr>
        <div>
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <p>{{ user.email }}</p>
        </div><hr>
        <div>
          <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
          <p>{{ user.password }}</p>
        </div>
      </section>

      <section class="profile-page-form col">
        <div>
          Add quiz
        </div>
      </section>
      <section class="profile-page-form col">
        <div>
          Something here
        </div>
      </section>
    </div>
  </div>

  

{% endblock %}
