{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="m-3">
  <div class="m-3">
    {% if curr_user.is_staff %}
      <div class="row rows-col-2 gap-3 m-0">
        <!-- profile info side -->
        <section class="white-border col">
          <div class="m-3">
            <div class="mb-3">
              <!-- information -->
              <div class="mb-3">
                <h5 style="text-align: center; font-weight: 600;">Information</h5><hr>
                <div class="d-flex flex-wrap gap-3">
                  <img src="{{ curr_user.profile.avatar.url }}" style="max-width: 120px; max-height: 120px;">
                  <div>
                    <p>Username: <b>{{ curr_user.username|title }}</b></p>
                    <p>Role: Staff</p>
                    <p>Email: {{ curr_user.email }}</p>
                    <p>First joined in: {{ curr_user.date_joined|naturaltime }}</p>
                  </div>
                </div>
              </div>

              <!-- courses -->
              <div class="mb-3">
                <h5 style="text-align: center; font-weight: 600;">Courses</h5><hr>
                <div>
                  {% for course in courses %}
                    <p>
                      <span>{{ course.name }}</span>
                      <span>{{ course.name.url }}</span>
                    </p>
                  {% endfor %}
                </div>
              </div>

              <!-- resources -->
              <div class="mb-3">
                <h5 style="text-align: center; font-weight: 600;">Resources</h5><hr>
                <div class="m-2">
                  {% if request.user != curr_user %}
      
                    {% if is_follower == False and is_self == False %}
      
                      <!-- they sent you -->
                      {% if request_sent == 0 %}
                      <div class="d-flex flex-column gap-2">
                        <a class="btn btn-outline-success" href="{% url 'accept-follow-request' pending_follow_request_id %}" 
                          style="width: 100%;">Accept Follow Request</a>
                        <a class="btn btn-outline-danger" href="{% url 'cancel-follow-request' curr_user.id %}" 
                          style="width: 100%;">Cancel</a>
                      </div>
                      {% endif %}
      
                      <!-- you sent them request -->
                      {% if request_sent == 1 %}
                          <a class="btn btn-outline-danger" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                          href="{% url 'cancel-follow-request' curr_user.id %}" style="width: 100%;">Cancel Follow Request</a>
                      {% endif %}
                
                      <!-- no request sent -->
                      {% if request_sent == -1 %}
                          <a class="btn btn-outline-primary" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                            href="{% url 'send-follow-request' curr_user.id %}" style="width: 100%;">Send Follow Request</a>
                      {% endif %}
              
                    {% endif %}
      
                    {% if is_follower %}
                      <div class="d-flex flex-column gap-2">
                        <a class="btn btn-outline-info" href="{% url 'create-chatroom' curr_user.id %}">Message</a>
                        <a class="btn btn-outline-dark" href="{% url 'decline-follow' curr_user.id  %}">Unfollow</a>
                      </div>
                    {% endif %}
      
                  {% endif %}
                  <div id="request-result"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- profile right side -->
        <div class="white-border col pe-0 ps-0">
          <div class="m-3">
            <!-- followers -->
            <div class="mb-3">
              <h5 style="text-align: center; font-weight: 600;">Followers</h5><hr>
              <div class="mb-2">
                <a href="{% url 'followers' curr_user.id %}">Followers: {{ curr_user.followers.count }}</a>
              </div>
              <div>
                {% for follower in followers %}
                  <p>{{ follower.name }}</p>
                  {% empty %}
                  <p>This staff does not have followers.</p>
                {% endfor %}
              </div>
            </div>

            <!-- badges -->
            <div class="mb-3">
              <h5 style="text-align: center; font-weight: 600;">Badges</h5><hr>
              <div class="mb-2">
                <a href="{% url 'badges' %}">Badges: {{ badges|length }}</a>
              </div>
              <div class="d-flex flex-row flex-wrap justify-content-between gap-2 m-0">
                {% for badge in badges %}
                  <div class="small-font-size text-center" style="max-width: 175px;">
                    <p class="mb-2 text-nowrap">{{ badge.name }}</p>
                    <p><img src="{{ badge.picture.url }}" style="width: 100px;"></p>
                    <p>{{ badge.description }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row rows-col-2 gap-3 m-0">
        <!-- profile info side -->
        <section class="white-border col">
          <div class="m-3">
            <div class="mb-3">
              <!-- information -->
              <div class="mb-3">
                <h5 style="text-align: center; font-weight: 600;">Information</h5><hr>
                <div class="row">
                  <img class="col" src="{{ curr_user.profile.avatar.url }}" style="width: 120px;">
                  <div class="ms-3 col">
                    <p>Username: <b>{{ curr_user.username|title }}</b></p>
                    <p>Role: User</p>
                    <p>Email: {{ curr_user.email }}</p>
                    <p>First joined in: {{ curr_user.date_joined|naturaltime }}</p>
                    <p>Total points: {{ profile.points }}</p>
                    <p>Total experience: {{ profile.experience }}</p>
                  </div>
                </div>
              </div>

              <!-- resources -->
              <div class="mb-3">
                <h5 style="text-align: center; font-weight: 600;">Resources</h5><hr>
                <div class="m-2">
                  {% if request.user != curr_user %}
      
                    {% if is_follower == False and is_self == False %}
      
                      <!-- they sent you -->
                      {% if request_sent == 0 %}
                      <div class="d-flex flex-column gap-2">
                        <a class="btn btn-outline-success" href="{% url 'accept-follow-request' pending_follow_request_id %}" 
                          style="width: 100%;">Accept Follow Request</a>
                        <a class="btn btn-outline-danger" href="{% url 'cancel-follow-request' curr_user.id %}" 
                          style="width: 100%;">Cancel</a>
                      </div>
                      {% endif %}
      
                      <!-- you sent them request -->
                      {% if request_sent == 1 %}
                          <a class="btn btn-outline-danger" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                          href="{% url 'cancel-follow-request' curr_user.id %}" style="width: 100%;">Cancel Follow Request</a>
                      {% endif %}
                
                      <!-- no request sent -->
                      {% if request_sent == -1 %}
                          <a class="btn btn-outline-primary" hx-boost="true" hx-trigger="load" hx-target="#request-result"
                            href="{% url 'send-follow-request' curr_user.id %}" style="width: 100%;">Send Follow Request</a>
                      {% endif %}
              
                    {% endif %}
      
                    {% if is_follower %}
                    <div class="d-flex flex-column gap-2">
                      <a class="btn btn-outline-info" href="{% url 'create-chatroom' curr_user.id %}">Message</a>
                      <a class="btn btn-outline-dark" href="{% url 'decline-follow' curr_user.id  %}">Unfollow</a>
                    </div>
                    {% endif %}
      
                  {% endif %}
                  <div id="request-result"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- profile right side -->
        <div class="white-border col pe-0 ps-0">
          <div class="m-3">
            <!-- followers -->
            <div class="mb-3">
              <h5 style="text-align: center; font-weight: 600;">Followers</h5><hr>
              <div class="mb-2">
                <a href="{% url 'followers' curr_user.id %}">Followers: {{ curr_user.followers.count }}</a>
              </div>
              <div>
                {% for follower in followers %}
                  <p>{{ follower.name }}</p>
                  {% empty %}
                  <p>This staff does not have followers.</p>
                {% endfor %}
              </div>
            </div>

            <!-- badges -->
            <div class="mb-3">
              <h5 style="text-align: center; font-weight: 600;">Badges</h5><hr>
              <div class="mb-2">
                <a href="{% url 'badges' %}">Badges: {{ badges|length }}</a>
              </div>

              <div class="d-flex flex-row flex-wrap justify-content-between gap-2 m-0">
                {% for badge in badges %}
                  <div class="small-font-size text-center" style="max-width: 175px;">
                    <p class="mb-2 text-nowrap">{{ badge.name }}</p>
                    <p><img src="{{ badge.picture.url }}" style="width: 100px;"></p>
                    <p>{{ badge.description }}</p>        
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>

{{ list_count|json_script:"json-list-count" }}

<script>
  var list_count = JSON.parse(document.getElementById('json-list-count').textContent);
  document.getElementById('notification-bell').innerHTML = list_count;
</script>

{% endblock %}
