{% extends 'main.html' %}
{% load static %}
{% block content %}

<section style="display: flex; align-items: center; justify-content: center; height: 700px;">
  <div class="white-border m-3 p-3" style="height: 500px; width: 700px; border-radius: 10px; display: flex; 
    flex-direction: column; justify-content: center;">
    <div class="" style="display: flex; justify-content: space-evenly; align-items: center;">
      <div>
        <img src="{% static 'images/login/register.jpg' %}" style="width: 300px;">
      </div>

      <div style=" height: auto; width: 300px;">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="mb-4" style="text-align: center;">
            <h5>
              <b>Member register</b>
            </h5>
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required
            style="border-radius: 20px;" hx-post="/user/register/check_username" hx-trigger="keyup" hx-target="#username-error">
            <div class="small-font-size ms-3 mt-2" style="color:blueviolet;" id="username-error"></div>
          </div>
    
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" id="password1"
            name="password" aria-labelledby="passwordHelpBlock" style="border-radius: 20px" required 
            hx-post="/user/register/check_password" hx-trigger="keyup" hx-target="#password-error">
            <div class="small-font-size ms-3 mt-2" style="color:blueviolet;" id="password-error"></div>
          </div>

          <div class="mb-4">
            <input type="password" name="password2" class="form-control register-password2" id="password2"
            placeholder="Repeat password" style="border-radius: 20px;" required>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary" id="register-button"
              style="width: 100%; border-radius: 20px;" disabled>Register</button>
          </div>
        </form>
      </div>
    </div>

    <div class="me-4" style="text-align: end;" hx-boost="true">
      <p><a href="{% url 'login' %}">Already signed in -></a></p>
    </div>
  </div>
</section>

<script>
  let password1 = document.getElementById('password1');
  let password2 = document.getElementById('password2');
  let register = document.getElementById('register-button');

  password2.addEventListener("keyup", (e) => {
    try{
      if (password1.value == password2.value) {
        register.disabled = false;
      }
      else {
        register.disabled = true;
      }
    }
    catch (e) {
      console.log(e);
    }
  });

</script>

{% endblock %}
