{% extends 'main.html' %}

{% block content %}

<section class="p-3 col-5">
  {% if messages %}
    <ul class="messages" style="color:#e80d0d;">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" action="" class="for-loop">
    {% csrf_token %}
    <div class="m-3">
      <label class="form-label">Enter username</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required
      hx-post="check_username" hx-trigger="keyup" hx-target="#username-error">
      <div id="username-error"></div>
    </div>

    <div class="m-3">
      <label class="form-label">Enter email</label>
      <input type="email" name="email" class="form-control" placeholder="example@email.com" required>
    </div>

    <div class="m-3">
      <label class="form-label">Enter password</label>
      <input type="password" id="profile-update-password" class="form-control register-password" name="password" aria-labelledby="passwordHelpBlock">
      <div id="passwordHelpBlock" class="form-text">
        Your password must be <span class="profile-update-requirement-1">8-20 characters long</span>, contain <span class="profile-update-requirement-2">letters</span>,
        <span class="profile-update-requirement-3">capital letters</span>
         and <span class="profile-update-requirement-4">numbers</span>, and must not contain spaces, special characters, or emoji.
      </div>
    </div>

    <div class="m-3">
      <label class="form-label">Repeat password</label>
      <input type="password" name="password2" class="form-control register-password2" placeholder="********" required>
    </div>

    <button type="submit" class="btn btn-primary m-3 register-button" disabled>Login</button>
  </form>
</section>

{% endblock %}
