{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="m-3 ps-3 pe-3">
  <div class="row p-3 m-0 white-border">
    <!-- search bar -->
    <div class="mb-3">
      <label class="form-label">Search User</label>
      <form method="POST" action="">
        {% csrf_token %}
        <input class="form-control" type="search" name="q">
      </form>
      {% if messages %}
        <ul class="messages" style="color:#e80d0d;">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="p-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px;">#</th>
            <th>Username</th>
            <th>Active</th>
            <th>Country</th>
            <th>Level</th>
            <th>Badges</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="{% url 'profile' user.id %}">
                <img src="{{ user.profile.avatar.url }}" style="width: 30px; border-radius: 50%;" class="me-2 ms-2">{{ user.username }}
              </a>
            </td>
            <td>
              {% if user.profile.active %}
                Active now
              {% else %}
                False
              {% endif %}
            </td>
            <td>{{ user.profile.country }}</td>
            <td>{{ user.profile.level }}</td>
            <td>{{ user.profile.badges.count }}</td>
          </tr>
          {% empty %}
            There is no user.
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
