<table class="table table-bordered">
   <thead>
      <tr>
      <th style="width: 10px;">#</th>
      <th>Username</th>
      <th>Role</th>
      <th>Country</th>
      <th>Level</th>
      <th>Badges</th>
      </tr>
   </thead>
   <tbody>
      {% for user in users %}
      <tr>
      <td>{{ forloop.counter }}</td>
      <td>
         <a href="{% url 'profile' user.id %}">
            <img src="{{ user.profile.avatar.url }}" style="width: 30px; border-radius: 50%;" class="me-2 ms-2">
            {{ user.username }}
         </a>
      </td>
      <td>{% if user.is_staff %}Staff{% else %}User{% endif %}</td>
      <td>{{ user.profile.country }}</td>
      <td>{{ user.profile.level }}</td>
      <td>{{ user.profile.badges.count }}</td>
      </tr>
      {% empty %}
      There is no user.
      {% endfor %}
   </tbody>
</table>
 
