{% extends 'main.html' %}

{% block content %}

<section class="">
  <div class="p-3">

    <div class="pb-3">
      <h3>Weekly Contest 359</h3>
    </div>

    <div style="height: 60px; display: flex; align-items: center;" class="white-border">
      <p class="ps-3">The contest has started. (1 hour 15 minutes 32 seconds left)</p>
    </div>

    <div class="row mt-4">
      <div class="col-9">
        <div class="mb-4">
          <h4>Welcome to the 359th LeetCode Weekly Contest</h4>
        </div>

        <div class="mb-4 pb-4">
          <p>Announcement</p>
          <p>Users must register to participate. We hope you enjoy this contest!</p>
        </div><hr>

        <div class="mb-4">
          <button class="btn btn-light me-2">Virtual Contest</button>
          <button class="btn btn-light">FAQ about Contest</button>
        </div>

        <div class="m-0 small-font-size row" >
          <div class="col small-font-size">
            <table class="table white-border align-middle">
              <thead>
                <tr class="align-middle" style="height: 50px;">
                  <td class="ps-3">Problem List</td>
                  <td class="pe-3">Score</td>
                </tr>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">Check if a String Is an Acronym of Words</td>
                  <td class="pe-3">3</td>
                </tr>
              </thead>
              <tbody>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">Determine the Minimum Sum of a k-avoiding Array</td>
                  <td class="pe-3">4</td>
                </tr>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">Maximize the Profit as the Salesman</td>
                  <td class="pe-3">5</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col small-font-size">
            <table class="table white-border align-middle">
              <thead>
                <tr class="align-middle" style="height: 50px;">
                  <td class="ps-3">Ranking</td>
                  <td></td>
                  <td></td>
                  <td class="pe-3"></td>
                </tr>
                <tr class="align-middle">
                  <td class="ps-3">Rank</td>
                  <td>Name</td>
                  <td>Score</td>
                  <td class="pe-3">Finish Time</td>
                </tr>
              </thead>
              <tbody>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">1</td>
                  <td>Lebron James</td>
                  <td>17</td>
                  <td class="pe-3">0:06:25</td>
                </tr>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">2</td>
                  <td>Lebonny</td>
                  <td>16</td>
                  <td class="pe-3">0:07:12</td>
                </tr>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">3</td>
                  <td>Majes</td>
                  <td>15</td>
                  <td class="pe-3">0:07:23</td>
                </tr>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">4</td>
                  <td>Lespooky</td>
                  <td>15</td>
                  <td class="pe-3">0:07:47</td>
                </tr>
                <tr style="height: 50px;" class="align-middle">
                  <td class="ps-3">5</td>
                  <td>LemonJames</td>
                  <td>14</td>
                  <td class="pe-3">0:08:13</td>
                </tr>
                <tr class="align-middle">
                  <td class="ps-3">More...</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col">
        <div>
          <h4>Prize</h4>
        </div>
        <div class="white-border">
          <div style="height: 50px; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid rgb(231, 229, 229);">
            <p class="ms-3">1st</p>
            <p class="me-3">5000</p>
          </div>
          <div style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
            <p class="ms-3">2nd</p>
            <p class="me-3">2500</p>
          </div>
          <div style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
            <p class="ms-3">3rd</p>
            <p class="me-3">1000</p>
          </div>
          <div style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
            <p class="ms-3">4th-50th</p>
            <p class="me-3">300</p>
          </div>
          <div style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
            <p class="ms-3">51th-100th</p>
            <p class="me-3">100</p>
          </div>
          <div style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
            <p class="ms-3">Participate</p>
            <p class="me-3">5</p>
          </div>
          <div style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
            <p class="ms-3">First Time Participate</p>
            <p class="me-3">200</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

{% endblock %}
