{% extends 'main.html' %}

{% block content %}

  <div class="for-loop p-3">
    {% if user.is_authenticated %}
      <h1>Hello world</h1>
    {% else %}
    <section class="m-3 row">
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="col-10">
        <ul class="border m-3 p-3">
          <li class="m-3">
            <h4 id="list-item-1">Item 1</h4><hr>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
              an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, 
              remaining essentially unchanged. It was popularised in the 1960s with the release of 
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </li>
          <li class="m-3">
            <h4 id="list-item-2">Item 2</h4><hr>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
              an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, 
              remaining essentially unchanged. It was popularised in the 1960s with the release of 
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </li>
          <li class="m-3">
            <h4 id="list-item-3">Item 3</h4><hr>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
              an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, 
              remaining essentially unchanged. It was popularised in the 1960s with the release of 
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </li>
          <li class="m-3">
            <h4 id="list-item-4">Item 4</h4><hr>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
              an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, 
              remaining essentially unchanged. It was popularised in the 1960s with the release of 
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </li>
        </ul>
      </div>
      
      <div class="index-page-list col">
        <div id="list-example">
          <a class="" href="#list-item-1">Item 1</a>
          <a class="" href="#list-item-2">Item 2</a>
          <a class="" href="#list-item-3">Item 3</a>
          <a class="" href="#list-item-4">Item 4</a>
        </div>
      </div>
    </section>
    {% endif %}
  </div>

{% endblock %}
