{% extends 'main.html' %}
{% load static %}
{% block content %}

<section>
  {% if request.path == '/courses' %}
  <div>
    <div style="height: 500px; background: linear-gradient(45deg, rgb(190, 25, 255), rgb(58, 242, 249));
      display: flex; align-items: end;">
      <div class="ms-3 p-3 white-border" style="width: 500px; border-top-right-radius: 20px;">
        <h4 class="p-3">
          <b>Learn English with an online course</b>
          specially created by the British Council, the world's English
          teaching experts.
        </h4>
      </div>
    </div>

    <div class="pt-3 mt-3" style="display: flex; justify-content: center; align-items: center;">
      <div style="width: 1000px;">
        <h4>
          Our highly qualified English teachers are by your side and provide you with the right 
          tools to help you interact confidently in the real world and achieve the professional 
          and personal success you are working towards.
        </h4>
      </div>
    </div>

    <div class="mt-3 pt-3" style="width: 100%; 
      background: linear-gradient(45deg, rgb(102, 255, 94), rgb(198, 249, 58));">
      <div class="mt-3 pt-3" style="display: flex; justify-content: center;">
        <h4>Choose from our popular online courses</h4>
      </div>

      <!-- block introductions -->
      <div class="m-3 p-3 row row-cols-5" style="justify-content: center;">
        <div class="white-border m-3 p-3">
          <div class="m-3" style="display: flex; justify-content: center">
            <i class="fa-solid fa-chalkboard-user" style="font-size: 75px;"></i>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>Live classes</p>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>Group and one-to-one online classes with expert teachers.</p>
          </div>
        </div>

        <div class="white-border m-3 p-3">
          <div class="m-3" style="display: flex; justify-content: center">
            <i class="fa-solid fa-book" style="font-size: 75px;"></i>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>IELTS preparation</p>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>Get the score you need with private and group online classes.</p>
          </div>
        </div>

        <div class="white-border m-3 p-3">
          <div class="m-3" style="display: flex; justify-content: center">
            <i class="fa-solid fa-person-chalkboard" style="font-size: 75px;"></i>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>Personal tutoring</p>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>One-to-one online sessions focused on a personal plan.</p>
          </div>
        </div>

        <div class="white-border m-3 p-3">
          <div class="m-3" style="display: flex; justify-content: center">
            <i class="fa-solid fa-computer" style="font-size: 75px;"></i>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>Self-study courses</p>
          </div>

          <div class="m-3" style="display: flex; justify-content: center">
            <p>Learn at your own pace with a self-study online course.</p>
          </div>
        </div>
      </div>

      <!-- courses  -->
      <div class="m-3 p-3">
        <!-- live classes -->
        <div class="m-3 p-3 white-border" style="display: flex;">
          <div>
            <img style="width: 300px;" src="{% static 'images/live-classes.jpg' %}">
          </div>

          <div>
            <div class="ms-3">
              <button class="btn btn-info">Live classes</button>
              <h4 class="m-3">
                Learn from anywhere with live interactive group and one-to-one classes with expert teachers
              </h4>
            </div>
    
            <div class="m-3">
              <p>
                Choose your schedule, set study goals, track your progress 
                and achieve British Council certificates as you learn. English Online 
                is aligned with the CEFR framework.
              </p>
            </div>
    
            <div class="m-3">
              <button class="btn btn-light">Learn more about our live classes</button>
            </div>
          </div>
        </div>

        <!-- ielts preparation -->
        <div class="m-3 p-3 white-border" style="display: flex;">
          <div>
            <div class="">
              <button class="btn btn-info">IELTS preparation</button>
              <h4 class="m-3">
                Take the IELTS test with total confidence and get the score you 
                need with private and group IELTS preparation classes
              </h4>
            </div>
            <div class="m-3">
              <p>
                Prepare for your test with co-creators of the IELTS test, where courses are adapted to 
                your needs allowing you to focus on specific skills in private or group classes and 
                revise your learning with interactive practice material.
              </p>
            </div>
            <div class="m-3">
              <button class="btn btn-light">Learn more about IELTS Coach</button>
            </div>
          </div>

          <div>
            <img style="width: 300px;" src="{% static 'images/ielts-prep.jpg' %}">
          </div>
        </div>

        <!-- personal tutoring -->
        <div class="m-3 p-3 white-border" style="display: flex;">
          <div>
            <img style="height: 300px; width: 300px;" src="{% static 'images/personal-tutoring.jpg' %}">
          </div>
          <div>
            <div class="">
              <button class="btn btn-info">Personal tutoring</button>
              <h4 class="m-3">
                Learn in one-to-one sessions with a tutor of your choice, focused on a personal learning plan
              </h4>
            </div>
            <div class="m-3">
              <p>
                Book private online sessions with a tutor of your choice and focus on the areas important 
                to you. Work together on a learning plan based on your level to help you reach your 
                goal, be it professional, competitive or just for fun.
              </p>
            </div>
            <div class="m-3">
              <button class="btn btn-light">Learn more about our personal tutors</button>
            </div>
          </div>
        </div>
        
        <!-- self study courses -->
        <div class="m-3 p-3 white-border" style="display: flex;">
          <div>
            <div class="">
              <button class="btn btn-info">Self-study courses</button>
              <h4 class="m-3">
                Learn at your own pace, in your own time with a self-study course
              </h4>
            </div>
            <div class="m-3">
              <p>
                Learn online in your own time and at your own speed. 
                Suitable for professionals and enthusiastic individuals, 
                with a variety of interactive exercises and webinars.
              </p>
            </div>
            <div class="m-3">
              <button class="btn btn-light">Learn more about our self-study course</button>
            </div>
          </div>
          <div>
            <img style="height: 300px; width: 300px;" src="{% static 'images/self-study.jpg' %}">
          </div>
        </div>
      </div>

    </div>

    <div class="mt-3" style="background: #3e44ff; width: 100%; display: flex; color: #fff;">
      <div class="m-4 p-4">
        <img src="{% static 'images/which-course-suits.jpg' %}" style="width: 500px; height: 500px;">
      </div>
      <div class="m-4 p-4">
        <h3><b>Take our learning-style quiz to find the course that suits you the best</b></h3>
        <div class="mt-4">
          <p>
            Do you know the best ways for you to learn English? Use our 
            learning-style quiz to find out which of our courses is best for you.
          </p>
        </div>
        <div class="mt-4">
          <button class="btn btn-lg btn-light">Start the quiz</button>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  {% if request.path == '/skills' %}
  <div>
    <div style="height: 500px; background: linear-gradient(45deg, rgb(224, 255, 25), rgb(217, 58, 249));
      display: flex; align-items: end;">
      <div class="ms-3 p-3 white-border" style="width: 500px; border-top-right-radius: 20px;">
        <h4 class="p-3">
          <b>Skills</b><br>
          Practise your reading, writing, listening and speaking skills at your level.
        </h4>
      </div>
    </div>

    <div class="row" style="margin: 0;">

      <!-- left part -->
      <div class="col-9">
        <div class="p-3 m-3">
          <div>
            <h5>
              Here you can find practice materials and activities to improve 
              your English speaking, listening, reading and writing skills. 
              Improving your skills will help you use English more effectively so 
              that you can do well in your studies, get ahead at work and confidently 
              communicate in English in your free time.
            </h5>
          </div>

          <div class="pt-3">
            <h4>
              <b>How to improve your English proficiency</b>
            </h4>
            <h5 class="pt-3">
              To build your vocabulary and develop your English communication skills, practice 
              and study are essential. Working through practice activities and regularly reviewing 
              the new language you learn can help you accelerate your knowledge and understanding of English.
            </h5>
          </div>

          <div class="pt-3">
            <h4>
              <b>Take a low-cost self-study course online</b>
            </h4>
            <h5 class="pt-3">
              Learn English in your own time, at your own pace with a flexible, online self-study course. 
              Get unlimited access to helpful, high-quality learning materials and activities from 
              beginner to advanced level. Learn on the go, earn digital certificates and improve 
              your English speaking, listening, reading and writing skills.
            </h5>
            <button class="pt-3 btn btn-lg btn-dark">Find out more</button>
          </div>
          
          <div class="pt-3">
            <h4>
              <b>Choose the skill you want to practise</b>
            </h4>
            <h5 class="pt-3">
              The self-study lessons in these sections are written and organised by 
              English level based on the Common European Framework of Reference for 
              languages (CEFR). There are different types of texts, recordings and videos 
              with interactive exercises and worksheets that practise the skills you need.
            </h5>
            <h5 class="pt-3">
              Choose the skill you want to practise today and improve your English at your own 
              speed, whenever it's convenient for you.
            </h5>
          </div>
        </div>

        <!-- listening reading writing speaking -->

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border">
            <img src="{% static 'images/skills/listening.jpg' %}" style="width: 400px; height: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Listening</b>
            </h4>
            <h5>
              Here you can find activities to practise your listening skills. 
              Listening will help you to improve your understanding of the language and your pronunciation.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border">
            <img src="{% static 'images/skills/reading.jpg' %}" style="width: 400px; height: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Reading</b>
            </h4>
            <h5>
              Here you can find activities to practise your reading skills.
              Reading will help you to improve your understanding of the 
              language and build your vocabulary.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/skills/writing.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Writing</b>
            </h4>
            <h5>
              Here you can find activities to practise your writing 
              skills. You can improve your writing by understanding model texts and how they're structured.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border">
            <img src="{% static 'images/skills/speaking.jpg' %}" style="width: 400px; height: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Speaking</b>
            </h4>
            <h5>
              Here you can find activities to practise your speaking skills. 
              You can improve your speaking by noticing the language we use in different 
              situations and practising useful phrases.
            </h5>
          </div>
        </div>
      </div>

      <!-- right part -->
      <div class="col" >
        <div class="p-3 m-3 white-border">
          <p class="m-2">Listening</p>
          <p class="m-2">Reading</p>
          <p class="m-2">Writing</p>
          <p class="m-2">Speaking</p>
        </div>

        <div class="p-3 m-3 white-border">
          <div>
            <p class="m-2">Online English Courses</p>
          </div>
        </div>

        <div class="p-3 m-3 white-border">
          <p class="m-2"><b>Help</b></p>
          <p class="m-2">Free online English test</p>
          <p class="m-2">Frequently asked questions</p>
          <p class="m-2">Getting started</p>
          <p class="m-2">House rules</p>
        </div>
      </div>

    </div>

  </div>
  {% endif %}

  {% if request.path == '/grammar' %}
  <div>
    <div style="height: 500px; background: linear-gradient(45deg, rgb(255, 255, 255), rgb(143, 255, 57));
      display: flex; align-items: end;">
      <div class="ms-3 p-3 white-border" style="width: 500px; border-top-right-radius: 20px;">
        <h4 class="p-3">
          <b>Grammar</b><br>
          Revise and practise your grammar to help you increase your confidence and improve your language level.
        </h4>
      </div>
    </div>

    <div class="row" style="margin: 0;">

      <!-- left part -->
      <div class="col-9">
        <div class="p-3 m-3">
          <div class="mb-3">
            <h5>
              Practise your English grammar with clear grammar explanations and 
              practice exercises to test your understanding. The learning materials are 
              organised into two sections, organised by English level. 
            </h5>
          </div>

          <div class="mb-3">
            <h5>
              All learners, whatever their level, have questions and doubts about grammar as 
              they're learning English. There is also a grammar reference which helps to 
              explain the verb tenses and grammar rules in a clear and simple way.
            </h5>
          </div>

          <div class="mb-3">
            <h5>
              Decide which area of grammar you need help with today and choose a grammar 
              point to work on. When you do the interactive exercises, you can see how well 
              you've done. By revising and practising your grammar you will increase your 
              confidence in English and improve your language level.
            </h5>
          </div>

          <div class="mb-3">
            <h5>
              Practising little and often is the best way to improve your grammar, so come 
              back tomorrow to choose another grammar point to work on. Good luck!
            </h5>
          </div>
        </div>

        <!-- listening reading writing speaking -->

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/grammar/a1-a2.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>A1-A2 grammar</b>
            </h4>
            <h5>
              Are you a learner at A1 (elementary) or A2 (pre-intermediate) English level? 
              In this section, you can improve your grammar with our clear and simple grammar lessons.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/grammar/b1-b2.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>B1-B2 grammar</b>
            </h4>
            <h5>
              Are you a learner at B1 (intermediate) or B2 (upper intermediate) 
              English level? In this section, you can improve your grammar with our clear and simple grammar lessons.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/grammar/c1.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>C1 grammar</b>
            </h4>
            <h5>
              Are you a learner at C1 (advanced) English level? In this section, you can 
              improve your grammar with our clear and simple grammar lessons.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/grammar/english-refer.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>English grammar reference</b>
            </h4>
            <h5>
              This grammar section explains English grammar in a clear and simple way. There 
              are example sentences to show how the language is used and there are 
              interactive exercises so you can practise what you learn.
            </h5>
          </div>
        </div>

        <div class="m-3 p-3">
          <div class="mt-3">
            <h4>
              <b>Learn to use grammar correctly and confidently</b>
            </h4>
          </div>
          <div class="mt-3">
            <h5>
              Our online English classes feature lots of useful learning materials and activities 
              to help you improve your understanding of grammar in a safe and inclusive learning environment.
            </h5>
          </div>
          <div class="mt-3">
            <h5>
              Practise using grammar with your classmates in live group classes, get grammatical 
              support from a personal tutor in one-to-one lessons or practise grammar by yourself 
              at your own pace with a self-study course.
            </h5>
          </div>
          <div class="mt-3 mb-3">
            <button class="btn btn-lg btn-light">Explore Courses</button>
          </div>
        </div>
      </div>

      <!-- right part -->
      <div class="col" >
        <div class="p-3 m-3 white-border">
          <p class="m-2">A1-A2 grammar</p>
          <p class="m-2">B1-B2 grammar</p>
          <p class="m-2">C1 grammar</p>
          <p class="m-2">English grammar refrence</p>
        </div>

        <div class="p-3 m-3 white-border">
          <div>
            <p class="m-2">Online English Courses</p>
          </div>
        </div>

        <div class="p-3 m-3 white-border">
          <p class="m-2"><b>Help</b></p>
          <p class="m-2">Free online English test</p>
          <p class="m-2">Frequently asked questions</p>
          <p class="m-2">Getting started</p>
          <p class="m-2">House rules</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == '/business-english' %}
  <div>
    <div style="height: 500px; background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 57, 57));
      display: flex; align-items: end;">
      <div class="ms-3 p-3 white-border" style="width: 500px; border-top-right-radius: 20px;">
        <h4 class="p-3">
          <b>Business English</b><br>
          Improve your English for the workplace and learn about business topics 
          to help you work more effectively and make the most of career opportunities.
        </h4>
      </div>
    </div>

    <div class="row" style="margin: 0;">

      <!-- left part -->
      <div class="col-9">
        <div class="p-3 m-3">
          <div class="mb-3">
            <h5>
              Business English communication skills are essential for getting ahead at work. 
              Improving your professional business vocabulary and knowledge will help you work 
              more effectively and open up new career opportunities.
            </h5>
          </div>

          <div class="mb-3">
            <h4>
              <b>Using English in a business environment</b>
            </h4>
            <h5>
              English is recognised as the most internationally popular language, which makes 
              it the most dominant language in the business world. Even if you have a good level 
              of basic English, learning business English will give you the chance to demonstrate 
              a wider professional vocabulary which can result in new opportunities in your career.
            </h5>
            <h5>
              Studying business English allows you to develop English language skills that are useful 
              in an office or other business environments. By understanding the communication skills 
              needed in the workplace, you can gain the confidence to build strong relationships with 
              your colleagues and clients.
            </h5>
          </div>

          <div class="mb-3">
            <h4>
              <b>Business English learning support resources</b>
            </h4>
            <h5>
              Here you can find a wide variety of activities to develop your interview skills, 
              write clear emails in English and learn about business topics and issues. Watch videos, 
              listen to podcasts or read articles, then complete the specially designed tasks to help 
              you understand the topic and use the language skills that you have learned.
            </h5>
          </div>

          <div class="mb-3">
            <h4>
              <b>Helping organisations train for success</b>
            </h4>
            <h5>
              We work with some of the world's leading organisations to create and deliver English 
              language courses, professional communication skills programmes and assessments. Our 
              scalable training solutions are delivered face-to-face or online by qualified experts. 
            </h5>
          </div>
        </div>

        <!-- sections with images -->

        <div class="m-3 ps-3">
          <h4>
            <b>Choose a section</b>
          </h4>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/business/corporate.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Corporate training and assessments</b>
            </h4>
            <h5>
              Create a training and assessment programme that suits your organisation and meets your business goals.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/business/magazine.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Business magazine</b>
            </h4>
            <h5>
              Do you want to practise your reading and find out about business topics 
              and issues? Read magazine articles for intermediate or upper intermediate level learners.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/business/podcast.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Podcasts for professionals</b>
            </h4>
            <h5>
              Do you want to practise your listening and find out about business topics and issues 
              at the same time? Listen to audio recordings for upper intermediate level learners.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/business/email.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>English for emails</b>
            </h4>
            <h5>
              Do you need to write emails in English at work? Follow our series of lessons 
              for pre-intermediate or intermediate level learners.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/business/hiring.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>You're hired</b>
            </h4>
            <h5>
              Are you looking for a new job or recruiting a new employee? Watch our video 
              series for intermediate or upper intermediate level learners.
            </h5>
          </div>
        </div>
      </div>

      <!-- right part -->
      <div class="col" >
        <div class="p-3 m-3 white-border">
          <p class="m-2">Corporate training and assessments</p>
          <p class="m-2">Business magazine</p>
          <p class="m-2">Podcasts for professionals</p>
          <p class="m-2">English for emails</p>
          <p class="m-2">You're hired</p>
        </div>

        <div class="p-3 m-3 white-border">
          <div>
            <p class="m-2">Online English Courses</p>
          </div>
        </div>

        <div class="p-3 m-3 white-border">
          <p class="m-2"><b>Help</b></p>
          <p class="m-2">Free online English test</p>
          <p class="m-2">Frequently asked questions</p>
          <p class="m-2">Getting started</p>
          <p class="m-2">House rules</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == '/general-english' %}
  <div>
    <div style="height: 500px; background: linear-gradient(45deg, rgb(255, 255, 255), rgb(57, 255, 245));
      display: flex; align-items: end;">
      <div class="ms-3 p-3 white-border" style="width: 500px; border-top-right-radius: 20px;">
        <h4 class="p-3">
          <b>General English</b><br>
          Find extra listening and reading practice to help you improve your level 
          of English and practise language you can use in everyday situations.
        </h4>
      </div>
    </div>

    <div class="row" style="margin: 0;">

      <!-- left part -->
      <div class="col-9">
        <div class="p-3 m-3">
          <div class="mb-3">
            <h5>
              In General English you can improve your knowledge of everyday English and learn 
              the language you need for socialising. You will also develop your comprehension 
              skills and build your vocabulary.
            </h5>
          </div>

          <div class="mb-3">
            <h4>
              <b>Zones: 5- to 10-minute activities</b>
            </h4>
            <h5>
              Do you have 5 to 10 minutes to practise your English today? Try one of our Video, 
              Audio, Magazine or Reading zone activities.
            </h5>
            <h5>
              These are short activities on a range of different topics to help you improve your 
              English level. Practising every day, even for a short time, will help you to improve. 
              Choose a topic that interests you and get started today!
            </h5>
          </div>

          <div class="mb-3">
            <h4>
              <b>Series: 15- to 30-minute activities</b>
            </h4>
            <h5>
              If you have more time to work on your English, try the learning material in our series. 
              You will find longer learning activities, which you can work through, one episode at a 
              time, at your own pace.
            </h5>
          </div>
        </div>

        <!-- sections with images -->

        <div class="m-3 ps-3">
          <h4>
            <b>Choose a section</b>
          </h4>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/general-english/video-zone.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Video zone</b>
            </h4>
            <h5>
              Do you enjoy watching YouTube videos in English? Watch our videos that are specially 
              selected for learners at B2 English level (upper intermediate) and C1 English level (advanced).
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/general-english/audio-zone.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Audio zone</b>
            </h4>
            <h5>
              Do you want to listen to engaging and interesting audio recordings on a wide 
              range of topics? Listen to audio recordings for upper intermediate and advanced level learners.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/general-english/magazine.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Magazine zone</b>
            </h4>
            <h5>
              Do you want to practise your reading and learn about global issues, special days and 
              festivals? Read our articles that are written for intermediate and upper intermediate level learners.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/general-english/story-zone.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Story zone</b>
            </h4>
            <h5>
              Do you enjoy reading stories? Our Story zone has a selection of brilliant 
              short stories specially written for pre-intermediate to advanced level learners.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/general-english/audio-series.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Audio series</b>
            </h4>
            <h5>
              Are you looking for more listening practice? In this section you will find 
              our audio series with language practice activities.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/general-english/video-series.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Video series</b>
            </h4>
            <h5>
              Are you looking for videos to help improve your level of English? In 
              this section you will find our video series with language practice activities.
            </h5>
          </div>
        </div>

        <div class="m-3 p-3">
          <div class="mt-3">
            <h4>
              <b>Improve your English skills in social situations</b>
            </h4>
          </div>
          <div class="mt-3">
            <p>
              For more support in improving your English skills for social situations, 
              explore our selection of online courses featuring lots of helpful learning resources.
            </p>
          </div>
          <div class="mt-3">
            <p>
              Practise speaking socially with your classmates in live group classes, get 
              support from a personal tutor in one-to-one lessons or practise by yourself at your 
              own pace with a self-study course.
            </p>
          </div>
          <div class="mt-3 mb-3">
            <button class="btn btn-light">Explore Courses</button>
          </div>
        </div>
      </div>

      <!-- right part -->
      <div class="col" >
        <div class="p-3 m-3 white-border">
          <p class="m-2">Video zone</p>
          <p class="m-2">Audio zone</p>
          <p class="m-2">Magazine zone</p>
          <p class="m-2">Story zone</p>
          <p class="m-2">Audio series</p>
          <p class="m-2">Video series</p>
        </div>

        <div class="p-3 m-3 white-border">
          <div>
            <p class="m-2">Online English Courses</p>
          </div>
        </div>

        <div class="p-3 m-3 white-border">
          <p class="m-2"><b>Help</b></p>
          <p class="m-2">Free online English test</p>
          <p class="m-2">Frequently asked questions</p>
          <p class="m-2">Getting started</p>
          <p class="m-2">House rules</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.path == '/english-level' %}
  <div>
    <div style="height: 500px; background: linear-gradient(45deg, rgb(255, 255, 255), rgb(235, 255, 57));
      display: flex; align-items: end;">
      <div class="ms-3 p-3 white-border" style="width: 500px; border-top-right-radius: 20px;">
        <h4 class="p-3">
          <b>English levels</b><br>
          Find out more about the different CEFR English levels and take a free level test.
        </h4>
      </div>
    </div>

    <div class="row" style="margin: 0;">

      <!-- left part -->
      <div class="col-9">
        <div class="p-3 m-3">
          <div class="mb-3">
            <h5>
              The learning materials in the different sections on LearnEnglish are organised 
              by English level based on the Common European Framework of Reference for languages (CEFR).
            </h5>
          </div>

          <div class="mb-3">
            <h5>
              Take our online level test to get an approximate indication of the English level you are 
              working towards or completing. You can use the result to help you find online courses or 
              learning content on our website that is appropriate for your English language ability.
            </h5>
            <h5>
              Find out more about what the different CEFR levels mean and what a 
              learner at the different levels can do.
            </h5>
          </div>

          <div class="mb-3">
            <h5>
              You can also get tips and advice on how to improve your English 
              level and find resources on the website by level, section and topic.
            </h5>
          </div>
        </div>

        <!-- sections with images -->

        <div class="m-3 ps-3">
          <h4>
            <b>Choose a section</b>
          </h4>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/english-level/test.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Online English level test</b>
            </h4>
            <h5>
              This free online level test will give you an approximate indication of the 
              English level you are working towards or completing.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/english-level/level.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Understand your English level</b>
            </h4>
            <h5>
              Find out more about the different CEFR English levels.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/english-level/improve.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Improve your English level</b>
            </h4>
            <h5>
              Find tips and advice on the best ways to learn and improve your level of English.
            </h5>
          </div>
        </div>

        <div class="p-3 m-3" style="display: flex;">
          <div class="white-border" style="width: 400px; height: 400px; display: flex; align-items: center;">
            <img src="{% static 'images/english-level/resources.jpg' %}" style="width: 400px;">
          </div>
          <div class="white-border p-3 m-3" style="position: relative; height: 200px; top: 100px; left: -100px; right: 300px;">
            <h4>
              <b>Find resources for your level</b>
            </h4>
            <h5>
              Find learning materials at your English level.
            </h5>
          </div>
        </div>

        <div class="m-3 p-3">
          <div class="mt-3">
            <h4>
              <b>Improve your English skills at any level</b>
            </h4>
          </div>
          <div class="mt-3">
            <p>
              Whether your English proficiency level is elementary, intermediate or advanced,
              why not develop your skills even further with our online courses?
            </p>
          </div>
          <div class="mt-3">
            <p>
              Practise with classmates in live group classes, get learning support 
              from a personal tutor in one-to-one lessons or practise by yourself at your 
              own speed with a self-study course. 
            </p>
          </div>
          <div class="mt-3 mb-3">
            <button class="btn btn-light">Explore Courses</button>
          </div>
        </div>
      </div>

      <!-- right part -->
      <div class="col" >
        <div class="p-3 m-3 white-border">
          <p class="m-2">Online English level test</p>
          <p class="m-2">Understand your English level</p>
          <p class="m-2">Improve your English level</p>
          <p class="m-2">Find resources for your level</p>
        </div>

        <div class="p-3 m-3 white-border">
          <div>
            <p class="m-2">Online English Courses</p>
          </div>
        </div>

        <div class="p-3 m-3 white-border">
          <p class="m-2"><b>Help</b></p>
          <p class="m-2">Free online English test</p>
          <p class="m-2">Frequently asked questions</p>
          <p class="m-2">Getting started</p>
          <p class="m-2">House rules</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</section>

{% endblock %}
