{% extends 'main.html' %}

{% block content %}

  <section class="m-3">
    <div class="m-3 for-loop">
      <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <i class="fa-solid fa-kiwi-bird"></i>
        <h1>Premium</h1>
        <p>Get started with a Moana Subscription that works for you.</p>
      </div><br>

      <div style="display: flex; justify-content: center;">
        <h3>Pricing</h3>
      </div>

      <div class="row">
        <div class="col ms-3 mt-3 mb-3">
          <div class="border p-4 m-3">
            <div>
              <h4 style="display: inline-block;">Monthly</h4>
              <p class="text-muted" style="display: inline-block;">billed monthly</p>
            </div>

            <div class="small-font-size">
              <p>Down from $39/month.</p>
              <p>Our monthly plan grants access to all premium features, the best plan for short-term subscribers.</p>
            </div><br>

            <div style="display: flex; align-items: end; justify-content: space-between;">
              <div style="display: inline-block;">
                <h2 style="display: inline-block;">$35</h2>
                <p class="text-muted" style="display: inline-block;">/mo</p>
              </div>
              <p class="text-muted" style="display: inline-block;">Prices are marked in USD</p>
            </div><br>

            <div>
              <button class="btn btn-outline-dark" style="width: 100%;">Subscribe</button>
            </div>
          </div>

          <div class="p-4 m-3">
            <div>
              <p><b>Video Solutions</b></p>
            </div>
            
            <div>
              <p class="text-muted">
                Unlock elaborate premium video solutions like this. Each video includes a detailed 
                conceptual overview and code walkthrough that will efficiently guide you through the problem.
              </p>
            </div>
          </div>

          <div class="p-4 m-3">
            <div>
              <p><b>Select Questions by Company</b></p>
            </div>
            
            <div class="mb-3">
              <p class="text-muted">
                Target your studying more accurately towards reaching your dream job. 
                Find out which companies asked specific questions. We have nearly 200 questions from Google alone.
              </p>
            </div>
          </div>

          <div class="p-4 m-3">
            <div>
              <p><b>Sort Questions by Prevalence</b></p>
            </div>
            
            <div class="mb-3">
              <p class="text-muted">
                Find out which questions turn up most frequently in interviews so that you 
                know where to focus your personal studying. Invaluable data collected from thousands of samples.
              </p>
            </div>
          </div>

        </div>

        <div class="col me-3 mt-3 mb-3">
          <div class="border p-4 m-3" style="background: rgb(2,0,36);
          background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,185,178,1) 0%, rgba(207,255,0,1) 100%);">
            <div>
              <h4 style="display: inline-block;">Yearly</h4>
              <p class="text-muted" style="display: inline-block;">billed yearly</p>
            </div>

            <div class="small-font-size">
              <p>Our most popular plan previously sold for $299 and is now only $13.25/month.</p>
              <p>This plan saves you over 60% in comparison to the monthly plan.</p>
            </div><br>

            <div style="display: flex; align-items: end; justify-content: space-between;">
              <div style="display: inline-block;">
                <h2 style="display: inline-block;">$13.25</h2>
                <p class="text-muted" style="display: inline-block;">/mo</p>
              </div>
              <p class="text-muted" style="display: inline-block;">Prices are marked in USD</p>
            </div><br>

            <div>
              <button class="btn btn-outline-dark" style="width: 100%;">Subscribe</button>
            </div>
          </div>

          <div class="p-4 m-3">
            <div>
              <p><b>Access to Premium Content</b></p>
            </div>
            
            <div>
              <p class="text-muted">
                Gain exclusive access to our latest and ever-growing collection of 
                premium content, such as questions, Explore cards, and premium solutions. 
                Detailed explanations are written by our team of algorithm and data structure experts.
              </p>
            </div>
          </div>

          <div class="p-4 m-3">
            <div>
              <p><b>Autocomplete</b></p>
            </div>
            
            <div class="mb-3">
              <p class="text-muted">
                Not interested in memorization? With premium access, 
                you'll receive intelligent code autocompletion based on language and an analysis of your source code.
              </p>
            </div>
          </div>

          <div class="p-4 m-3">
            <div>
              <p><b>Lightning Judge</b></p>
            </div>
            
            <div class="mb-3">
              <p class="text-muted">
                Tired of waiting？Premium users get priority judging using 
                an exclusive queue, resulting in a 3X shorter wait time, up to 10X during peak hours.
              </p>
            </div>
          </div>

        </div>

      </div>

      <div class="m-3 p-4">
        <div class="mb-5">
          <h3>Frequently asked questions</h3>
        </div>
        <div>
          <p>What do I get with a premium subscription ?</p>
        </div>

        <div>
          <p>What are premium solutions ? Can i see a sample ?</p>
        </div>

        <div>
          <p>How do you group questions by company ?</p>
        </div>

        <div>
          <p>What if I subscribe and cancel ?</p>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
