{% extends 'main.html' %}

{% block content %}

<section class="m-3">
  <div class="m-3 d-flex flex-wrap flex-row justify-content-between gap-3">
      <!-- followers list -->
    <div class="p-3 white-border table-responsive" style="max-width: 450px; width: 100%;">
      <p class="mb-2">Followers list</p>
      <table class="table table-bordered">
        <thead class="small-font-size">
          <tr>
            <th>#</th>
            <th>Username</th>
            {% if request.user == curr_user %}
              <th>Unfollow</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="small-font-size">
          {% for follower in follow_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'profile' follower.id %}">{{ follower.user }}</a></td>
            {% if request.user == curr_user %}
              <td><a href="{% url 'decline-follow' follower.id %}" hx-boost="true"
                class="btn btn-sm btn-outline-danger" style="width: 100%;">Unfollow</a>
              </td>
            {% endif %}
          </tr>
            {% empty %}
            <tr>
              <td>0</td>
              <td>No followers</td>
              {% if request.user == curr_user %}
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- request recieved -->
    <div class="p-3 white-border table-responsive" style="max-width: 450px; width: 100%;">
      <p class="mb-2">Request recieved</p>
      <table class="table table-bordered">
        <thead class="small-font-size">
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Time</th>
            <th>Accept</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody class="small-font-size">
          {% if request.user == curr_user %}
            {% for request in follow_requests %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'profile' request.sender.id %}"></a>{{ request.sender.username }}</td>
              <td>{{ request.timestamp }}</td>
              <td><a href="{% url 'accept-follow-request' request.id %}">Accept</a></td>
              <td><a hx-boost="true" href="{% url 'cancel-request' request.id %}">Cancel</a>
              </td>
            </tr>
              {% empty %}
              <tr>
                <td>No requests</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

    <!-- request sent -->
    <div class="p-3 white-border table-responsive" style="max-width: 450px; width: 100%;">
      <p class="mb-2">Requests sent</p>
      <table class="table table-bordered">
        <thead class="small-font-size">
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Time</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody class="small-font-size">
          {% if request.user == curr_user %}
            {% for request in follow_requests_sent %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'profile' request.reciever.user.id %}">{{ request.reciever.user }}</a></td>
                <td>{{ request.timestamp }}</td>
                <td><a hx-boost="true" href="{% url 'cancel-request' request.id %}">Cancel</a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td>0</td>
                <td>No followers</td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{{ list_count|json_script:"json-list-count" }}
<script>
  var list_count = JSON.parse(document.getElementById('json-list-count').textContent);
  document.getElementById('notification-bell').innerHTML = list_count;
</script>

{% endblock %}
