{% extends 'main.html' %}

{% block content %}
  <section class="m-3 p-3">
    <form method="POST" action="">
      {% csrf_token %}

      <div class="white-border p-4 mb-4">
        <div class="mb-3">
          <h4>Quiz Edit Form</h4>
        </div>

          <!-- quiz part -->
        <div class="mb-3" style="display: flex; align-items: center;">
          <label class="form-label me-3">Name</label>
          <input class="form-control" type="text" name="quiz-name" placeholder="Name" value="{{ quiz.name }}" required>
        </div>

        <div class="mb-3" style="display: flex; ">
          <div style="width: 100%; display: flex; align-items: center;" class="me-3 text-nowrap">
            <label class="form-label me-3" style="width: 100px;">Duration</label>
            <input class="form-control" type="time" name="quiz-duration" value="{{ quiz.duration }}">
          </div>
          <div style="width: 100%; display: flex; align-items: center;" class="me-3 text-nowrap">
            <label class="form-label me-3" style="width: 100px;">Start Date</label>
            <input class="form-control" type="date" name="quiz-start" value="{{ quiz.start_date }}">
          </div>
          <div style="width: 100%; display: flex; align-items: center;" class="text-nowrap">
            <label class="form-label me-3" style="width: 100px;">End Date</label>
            <input class="form-control" type="date" name="quiz-end" value="{{ quiz.end_date }}">
          </div>
        </div>

        <div class="mb-3" style="display: flex; ">
          <div style="width: 100%; display: flex; align-items: center;" class="me-3">
            <label class="form-label me-3" style="width: 100px;">Minimum score</label>
            <input class="form-control" type="number" name="quiz-score" value="{{ quiz.required_score }}" min="50">
          </div>
          <div style="width: 100%; display: flex; align-items: center;" class="">
            <label class="form-label me-3" style="width: 100px;">Difficulty</label>
            <select class="form-select" name="quiz-diff">
              <option class="form-control">Easy</option>
              <option class="form-control">Medium</option>
              <option class="form-control">Hard</option>
            </select>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label me-3">Publication</label>
          {% if quiz.publication == True %}
            <input type="checkbox" name="quiz-public" checked>
          {% else %}
            <input type="checkbox" name="quiz-public">
          {% endif %}
        </div>
        
        <!-- question part -->
        <div>
          <button class="btn btn-outline-primary me-2">Save form</button>
          <a class="btn btn-secondary" href="{% url 'quiz' %}">Discard</a>
        </div>
      </div>

      <div class="white-border p-4 row m-0">
        <div class="col-3 p-3" style="border-right: 1px solid #e4e4e4;">
          <div>
            <a class="btn btn-light" style="width: 100%;" onclick="add_question()">Add question</a>
          </div>
        </div>

        <div class="col p-3 ms-3" id="question-side">
          {% for question in questions %}
          <div class="accordion accordion-flush" style="border-bottom: 1px solid #e4e4e4;" id="question-{{ forloop.counter }}">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ forloop.counter }}"
                  aria-controls="#flush-collapse-{{ forloop.counter }}" aria-expanded="true">
                  <p>{{ forloop.counter }}</p>
                </a>
              </h2>

              <div class="accordion-collapse collapse" id="flush-collapse-{{ forloop.counter }}">
                <div class="accordion-body" id="accordion-body-{{ forloop.counter }}">
                  <div class="mb-2" style="display: flex; align-items: center;">
                    <label class="form-label me-3">question</label>
                    <input class="form-control mb-2" type="text" placeholder="Question here..." 
                      name="question-{{ forloop.counter }}" value="{{ question.body }}" required>
                  </div>

                  <div class="mb-2" style="display: flex; align-items: center;">
                    <label class="form-label me-3">explanation</label>
                    <input class="form-control mb-2" type="text" placeholder="Explanation here..." 
                      name="explanation-{{ forloop.counter }}" value="{{ question.explanation }}">
                  </div>

                  <div style="display:flex; align-items: center; justify-content: space-between;">
                    <a class="btn btn-light mb-2" onclick="add_answer(this.id)" id="answer-btn-{{ forloop.counter }}">
                      <i class="fa-solid fa-plus"></i>
                      <span> Add answer</span>
                    </a>
                    <a class="btn btn-light mb-2" onclick="del_question(this.id)" id="del-question-{{ forloop.counter }}"
                      href="{% url 'delete-question' question.id %}">
                      <i class="fa-solid fa-trash"></i>
                      <span> Delete question</span>
                    </a>
                  </div>
                  <ul id="answer-ul-{{ forloop.counter }}">
                    {% for answer in answers %}
                      {% if answer.question == question %}
                        <div class="m-2 me-0 answer-{{ forloop.parentloop.counter }}"
                          style="display: flex; align-items: center;" id="answer-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                          {% if answer.correct %}
                            <input class="me-3" type="checkbox" checked
                              name="answer-cor-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                          {% else %}
                            <input class="me-3" type="checkbox" name="answer-cor-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                          {% endif %}
                          <input class="form-control" type="text" value="{{ answer.body }}" 
                            name="answer-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" required>
                          <a href="{% url 'delete-answer' answer.id %}" hx-boost="true">
                            <i class="fa-solid fa-x ms-3" id="answer-del-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" 
                            style="cursor: pointer;" onclick="answer_del(this.id)"></i>
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </form>

  </section>

  <script>
    function add_question(){
      question_side = document.getElementById("question-side");
      const q_number = ++question_side.children.length;

      accord_div = document.createElement("div");
      accord_div.className = "accordion accordion-flush";
      accord_div.setAttribute("style", "border-bottom: 1px solid #e4e4e4;");
      accord_div.setAttribute("id", "question-" + q_number);

      item_div = document.createElement("div");
      item_div.className = "accordion-item";

      accord_head = document.createElement("h2");
      accord_head.className = "accordion-header";

      accord_btn = document.createElement("a");
      accord_btn.className = "accordion-button collapsed";
      accord_btn.setAttribute("data-bs-toggle", "collapse");
      accord_btn.setAttribute("data-bs-target", "#flush-collapse-" + q_number);
      accord_btn.setAttribute("aria-controls", "#flush-collapse-" + q_number);

      accord_p = document.createElement("p");
      accord_p.innerHTML = q_number;

      accord_btn.appendChild(accord_p);
      accord_head.appendChild(accord_btn);

      flush_div = document.createElement("div");
      flush_div.className = "accordion-collapse collapse";
      flush_div.setAttribute('id', 'flush-collapse-' + q_number);

      flush_body = document.createElement("div");
      flush_body.className = "accordion-body";
      flush_body.setAttribute("id", "accordion-body-" + q_number);

      q_label = document.createElement("label");
      q_label.innerHTML = "question";
      q_label.className = "me-3";

      q_input = document.createElement("input");
      q_input.className = "form-control mb-2";
      q_input.setAttribute("type", "text");
      q_input.setAttribute("placeholder", "Question here...");
      q_input.setAttribute("name", "question-" + q_number);
      q_input.setAttribute("required", "");

      wrap_1 = document.createElement("div");
      wrap_1.className = "mb-2";
      wrap_1.setAttribute("style", "display: flex; align-items: center;");
      wrap_1.appendChild(q_label);
      wrap_1.appendChild(q_input);

      e_label = document.createElement("label");
      e_label.innerHTML = "explanation";
      e_label.className = "me-3";

      e_input = document.createElement("input");
      e_input.className = "form-control mb-2";
      e_input.setAttribute("type", "text");
      e_input.setAttribute("placeholder", "Explanation here...");
      e_input.setAttribute("name", "explanation-" + q_number);

      wrap_2 = document.createElement("div");
      wrap_2.className = "mb-2";
      wrap_2.setAttribute("style", "display: flex; align-items: center;");
      wrap_2.appendChild(e_label);
      wrap_2.appendChild(e_input);

      btns_div = document.createElement("div");
      btns_div.setAttribute("style", "display:flex; align-items: center; justify-content: space-between;");

      flush_btn = document.createElement("a");
      flush_btn.className = "btn btn-light mb-2";
      flush_btn.setAttribute("onclick", "add_answer(this.id)");
      flush_btn.setAttribute("id", "answer-btn-" + q_number);
      flush_i = document.createElement("i");
      flush_i.className = "fa-solid fa-plus";

      flush_span = document.createElement("span");
      flush_span.innerHTML = " Add answer";

      flush_ul = document.createElement("ul");
      flush_ul.setAttribute('id', 'answer-ul-' + q_number);

      del_btn = document.createElement("a");
      del_btn.className = "btn btn-light mb-2";
      del_btn.setAttribute("onclick", "del_question(this.id)");
      del_btn.setAttribute("id", "del-question-" + q_number);
      del_i = document.createElement("i");
      del_i.className = "fa-solid fa-trash";

      del_span = document.createElement("span");
      del_span.innerHTML = " Delete question";

      flush_btn.appendChild(flush_i);
      flush_btn.appendChild(flush_span);

      del_btn.appendChild(del_i);
      del_btn.appendChild(del_span);

      btns_div.appendChild(flush_btn);
      btns_div.appendChild(del_btn);

      flush_body.appendChild(wrap_1);
      flush_body.appendChild(wrap_2);
      flush_body.appendChild(btns_div);
      flush_body.appendChild(flush_ul);
      flush_div.appendChild(flush_body);

      item_div.appendChild(accord_head);
      item_div.appendChild(flush_div);

      accord_div.appendChild(item_div);
      question_side.appendChild(accord_div);

    }

    function add_answer(id) {
      const q_number = id.match(/\d+/)[0];
      answer_ul = document.getElementById('answer-ul-' + q_number);
      const a_number = ++answer_ul.children.length;
      
      answer_div = document.createElement("div");
      answer_div.className = "m-2 me-0 answer-" + q_number;
      answer_div.setAttribute("style", "display: flex; align-items: center;");
      answer_div.setAttribute("id", "answer-" + q_number + "-" + a_number);

      r_input = document.createElement("input");
      r_input.className = "me-3";
      r_input.setAttribute("type", "checkbox");
      r_input.setAttribute("name", "answer-cor-" + q_number + "-" + a_number);

      t_input = document.createElement("input");
      t_input.className = "form-control";
      t_input.setAttribute("type", "text");
      t_input.setAttribute("name", "answer-" + q_number + "-" + a_number);
      t_input.setAttribute("required", "");

      answer_i = document.createElement("i");
      answer_i.className = "fa-solid fa-x ms-3";
      answer_i.setAttribute("id", "answer-del-" + q_number + "-" + a_number);
      answer_i.setAttribute("style", "cursor: pointer;");
      answer_i.setAttribute("onclick", "answer_del(this.id)");

      answer_div.appendChild(r_input);
      answer_div.appendChild(t_input);
      answer_div.appendChild(answer_i);
      answer_ul.appendChild(answer_div);
    }

    function answer_del(id) {
      const number = id.match(/(\d+)-(\d+)/)[0];
      answer_div = document.getElementById("answer-" + number);
      answer_div.remove();
      answers = document.getElementsByClassName("answer-" + number[0]);

      for(let i = 0; i <= answers.length; i++) {
        let j = i + 1;
        answers[i].setAttribute("id", "answer-" + number[0] + "-" + j);
        answers[i].children[0].setAttribute("name", "answer-" + number[0] + "-" + j);
        answers[i].children[1].setAttribute("name", "answer-cor-" + number[0] + "-" + j);
        answers[i].children[2].setAttribute("id", "answer-del-" + number[0] + "-" + j);
      }
    }

    function del_question(id) {
      console.log(id);
      const q_number = id.match(/\d+/)[0];
      question_div = document.getElementById("question-" + q_number);
      question_div.remove();
      questions = document.getElementsByClassName("accordion");

      for(let i = 0; i <= questions.length; i++) {
        let j = i + 1;
        questions[i].setAttribute("id", "question-" + j);
        // question > div > h2 > button > p
        questions[i].children[0].children[0].children[0].children[0].innerHTML = j;

        questions[i].children[0].children[0].children[0].setAttribute("data-bs-target", "#flush-collapse-" + j);
        questions[i].children[0].children[0].children[0].setAttribute("aria-controls", "#flush-collapse-" + j);
        // question > div > div
        questions[i].children[0].children[1].setAttribute("id", "flush-collapse-" + j);
        // question > div > div > div
        questions[i].children[0].children[1].children[0].setAttribute("id", "accordion-body-" + j);
        // question > div > div > div > input
        questions[i].children[0].children[1].children[0].children[0].children[1].setAttribute("name", "question-" + j);
        questions[i].children[0].children[1].children[0].children[1].children[1].setAttribute("name", "explanation-" + j);
        questions[i].children[0].children[1].children[0].children[3].setAttribute("id", "answer-ul-" + j);
        // question > div > div > div > div > btns
        questions[i].children[0].children[1].children[0].children[2].children[0].setAttribute("id", "answer-btn-" + j);
        questions[i].children[0].children[1].children[0].children[2].children[1].setAttribute("id", "del-question-" + j);


      }

    }

  </script>
{% endblock %}
