{% extends 'main.html' %}

{% block content %}
  <section class="m-3 p-3 row" style="scroll-margin-inline-start: 100px; scroll-behavior: smooth;">
    <!-- left side -->
    <div class="col-9">
      <div class="white-border p-4 mb-4">
        <div class="mb-3">
          <h4>{{ quiz.name }}</h4>
          <p>For the questions below, please choose the best option to complete the sentence or conversation.</p>
        </div>
      </div>

      {% for question in questions %}
        <div class="white-border p-4 mb-4" id="question-{{ forloop.counter }}">
          <p class="mb-3" name="question-{{ forloop.counter }}">{{ forloop.counter }}. {{ question.body }}</p>
          <ul>
            {% for answer in answers %}
              {% if answer.question == question %}
              <li class="mb-2" style="display: flex; align-items: center;">
                <input type="checkbox" class="me-2" name="answer-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                <span>{{ answer.body }}</span>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

    <div class="col p-0 ms-3" style="position: sticky; top: 0; height: fit-content;">
      <div class="white-border mb-3">
        <p>Timer</p>
      </div>

      <div class="white-border">
        <div class="m-2 p-2 pb-0" style="display: grid; grid-template-columns: auto auto auto auto auto;">
          {% for question in questions %}
          <div class="mb-2" style="display: flex; align-items: center; justify-content: center;">
            <a href="#question-{{ forloop.counter }}" class="btn btn-info me-1 ms-1" style="width: 100%;">{{ forloop.counter }}</a>
          </div>
          {% endfor %}
        </div>
  
        <div class="m-2" style="display: flex; justify-content: space-between;">
          <button class="btn btn-primary m-2" style="width: 100%;">Finish</button>
          <button class="btn btn-secondary m-2" style="width: 100%;">Discard</button>
        </div>
      </div>

    </div>

  </section>

{% endblock %}
