{% extends 'main.html' %}
{% load static %}
{% block content %}

  <section class="p-3">
    <a class="btn btn-primary" href="{% url 'quiz-create' %}">Add Quiz ?</a>
    <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>

    <div class="p-3 row">
      <h3 class="form-label">Quizes</h3>
      {% for quiz in quizs %}
          <div class="for-loop col-3">
            <img class="quiz-page-img" src="{% static 'images/pic.jpg' %}">

            <h4 class="form-label">{{ quiz.name }}</h4>
            <a type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-id="{{ quiz.id }}" data-host="{{ quiz.host }}" data-num-quest="{{ quiz.child_count }}"
              data-durat="{{ quiz.duration }}" data-require="{{ quiz.required_score }}"
              data-diff="{{ quiz.difficulty }}">Start
            </a>
            {% if request.user == quiz.host %}
              <a href="{% url 'quiz-edit' quiz.id %}" class="btn btn-warning">Edit</a>
              <a data-bs-toggle="modal" data-bs-target="#delete-modal" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>

          <!-- delete-modal -->

          <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="text-muted">
                    <p>Are you sure to delete this quiz ?</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" value="{{ quiz.id }}" name="quiz-id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- start-modal -->

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>                  
              </div>
            </div>
          </div>

      {% endfor %}
    </div>

  </section>

<script>
  modalBtns = [...document.getElementsByClassName("modal-btn")];
  const modalBody = document.getElementById('modal-body');

  modalBtns.forEach(modalBtn=> modalBtn.addEventListener('click', ()=>{
    pk = modalBtn.getAttribute('data-id');
    host = modalBtn.getAttribute('data-host');
    num_of_quest = modalBtn.getAttribute('data-num-quest');
    duration = modalBtn.getAttribute('data-durat');
    require = modalBtn.getAttribute('data-require');
    difficulty = modalBtn.getAttribute('data-diff');
    url = window.location.href

    modalBody.innerHTML = `
                  <div class="text-muted">
                    <label class="form-label">Creator</label>
                    <p class="form-control">${host}</p>
      
                    <label class="form-label">Number of Questions</label>
                    <p class="form-control">${num_of_quest}</p>
      
                    {% if quiz.duration %}
                      <label class="form-label">Duration</label>
                      <p class="form-control">${duration}</p>
                    {% endif %}
      
                    <label class="form-label">Required score</label>
                    <p class="form-control">${require}</p>
      
                    <label class="form-label">Difficulty</label>
                    <p class="form-control">${difficulty}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="${ url + pk }" class="btn btn-primary">Start</a>
                  </div>
                  
    `

  }))

</script>

{% endblock %}
