{% extends 'main.html' %}
{% load static %}
{% block content %}

  <section class="p-3">
    <div class="row">

      <div class="col">
        <a class="btn btn-outline-primary" href="{% url 'quiz-create' %}">Create Quiz</a>
      </div>

      <div class="col">
        <input type="search" class="form-control" placeholder="Search...">
      </div>

      <div class="col">
        <select class="form-select">
          <option selected><a hx-boost="true" class="form-control" href="{% url 'quiz' %}">All</a></option>
          {% for diff in difficulties %}
              <option class="difficulty-color"><a hx-boost="true" class="form-control" href="{% url 'quiz' %}?q={{diff}}">{{ diff|title }}</a></option>
          {% endfor %}
        </select>
      </div>

    </div><hr>

    <div class="mt-3 p-3 row">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Title</th>
            <th scope="col">Created by</th>
            <th scope="col">Questions</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Acceptance</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in quizs %}
            <tr>
              <td>{{ quiz.complete }}</td>
              <td><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ quiz.id }}">
                {{ forloop.counter }}. {{ quiz.name }}
                </a></td>
              <td>{{ quiz.host }}</td>
              <td>{{ quiz.child_count }}</td>
              <td class="difficulty-color" value="{{ quiz.difficulty }}">
                {% if quiz.difficulty is None %}
                  --
                {% else %}
                  {{ quiz.difficulty }}
                {% endif %}
              </td>
              <td>
                {% if quiz.required_score is None %}
                  --
                {% else %}
                  {{ quiz.required_score }} %
                {% endif %}
              </td>
              <td>{{ quiz.duration|date:"c" }}</td>
            </tr>

            <!-- start-modal -->

            <div class="modal fade" id="exampleModal-{{ quiz.id }}" tabindex="-1" aria-labelledby="exampleModalLabel-{{ quiz.id }}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel-{{ quiz.id }}">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="modal-body" style="display: flex; justify-content: space-between;">
                    <a href="{% url 'quiz-each' quiz.id %}" class="btn btn-outline-primary me-1 ms-1" style="width: 100%;">Start {{ quiz.id }}</a>
                    <a class="btn btn-outline-success me-1 ms-1" style="width: 100%;">Result</a>
                    {% if request.user == quiz.host %}
                      <a href="{% url 'quiz-edit' quiz.id %}" class="btn btn-outline-warning me-1 ms-1" style="width: 100%;">Edit</a>
                      <a data-bs-toggle="modal" data-bs-target="#delete-modal" class="btn btn-outline-danger me-1 ms-1" style="width: 100%;">Delete</a>
                    {% endif %}
                  </div>                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

<script>
  diff_colors = document.getElementsByClassName('difficulty-color');

  for(let i = 0; i < diff_colors.length; i++){
    if(diff_colors[i].innerHTML == 'Intermediate') {
      diff_colors[i].style.color = "#f0bc1f";
    }
    else if(diff_colors[i].innerHTML == 'Elementary') {
      diff_colors[i].style.color = "#069d75";
    }
    else {
      diff_colors[i].style.color = "#f02b39";
    }
  }

</script>


{% endblock %}
