{% extends 'main.html' %}

{% block content %}

  <section class="">
    <h3>{{ quiz.name }}</h3>
    <a href="{% url 'quiz' %}" class="btn btn-primary mb-3">Go Back</a>

    <article class="row">
      <div class="row col-9"> 
        <form method="POST" action="">
          {% csrf_token %}
          <div id="quiz-each-form">
            {% for question in questions %}
              <div class="col-3 quiz-page-quiz-column">
                <label class=""><span id="question-{{forloop.counter}}">{{ forloop.counter }}. </span>{{ question.body }}</label><hr>
                {% for answer in answers %}
                  {% if answer.question == question %}
                    <p class="form-control"><input type="checkbox" class="answer-checkbox" name="answer-{{ answer.id }}"> {{ answer.body }} / {{ answer.correct }}</p>
                  {% endif %}
        
                {% endfor %}
              </div>
            {% endfor %}
            <button type="button" class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Finish
            </button>
          </div>

          <!-- finish modal -->

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure that you want to edit ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-info" type="submit">Finish</button>
                </div>
              </div>
            </div>
          </div>

        </form>


      </div>
  
      <div class="col">
        {% for num in number_of_questions %}
          <li><a href="#question-{{forloop.counter}}">{{ forloop.counter }}</a></li>
        {% endfor %}
      </div>
    </article>
  </section>

{% endblock %}
