{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="m-3">
  <div class="white-border p-3 m-3">
    <form class="d-flex justify-content-between gap-2" method="POST" action="">  
      {% csrf_token %}
      <div style="width: 100%;">
        <input type="search" class="form-control" name="search-quiz" placeholder="Search..."
          hx-post="{% url 'search-quiz' %}" hx-target="#quiz-table" hx-trigger="keyup changed delay:300ms">
      </div>
      <div style="width: 100%;">
        <select class="form-select" name="search-difficulty">
          <option>Difficulty</option>
          <option>Easy</option>
          <option>Medium</option>
          <option>Hard</option>
        </select>
      </div>
      <div style="width: 100%;">
        <select class="form-select" name="search-duration">
          <option>Duration</option>
          <option>Ascending</option>
          <option>Descending</option>
        </select>
      </div>
      <div style="width: 100%;">
        <select class="form-select" name="search-date">
          <option>Date</option>
          <option>Not Started</option>
          <option>Started</option>
          <option>Finished</option>
        </select>
      </div>
      <div>
        <button class="btn btn-outline-success" hx-post="{% url 'search-quiz' %}" hx-boost="true" hx-target="#quiz-table">Search</button>
      </div>
    </form>

    <div class="row p-3 pb-0" id="quiz-table">
      {% include 'quiz-partial.html' %}
    </div>
  </div>
</section>

{{ list_count|json_script:"json-list-count" }}

<script>
  var list_count = JSON.parse(document.getElementById('json-list-count').textContent);
  document.getElementById('notification-bell').innerHTML = list_count;
</script>

{% endblock %}
