<footer class="footer-page-footer">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <ul class="footer-page-ul">
          <p><b>Learn More</b></p>
          <li class="footer-page-li">About Moana</li>
          <li class="footer-page-li">Getting Started With Moana</li>
          <li class="footer-page-li">Team Organization</li>
          <li class="footer-page-li">Moana Software Foundation</li>
          <li class="footer-page-li">Code Of Conduct</li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer-page-ul">
          <p><b>Get Involved</b></p>
          <li class="footer-page-li">Join a Group</li>
          <li class="footer-page-li">Contribute to Moana</li>
          <li class="footer-page-li">Submit a Bug</li>
          <li class="footer-page-li">Report a Security Issue</li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer-page-ul">
          <p><b>Get Help</b></p>
          <li class="footer-page-li">Getting Help FAQ</li>
          <li class="footer-page-li">Forum</li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer-page-ul">
          <p><b>Follow Us</b></p>
          <li class="footer-page-li">Facebook</li>
          <li class="footer-page-li">Instagram</li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer-page-ul">
          <p><b>Support Us</b></p>
          <li class="footer-page-li">About Moana</li>
          <li class="footer-page-li">Getting Started With Moana</li>
          <li class="footer-page-li">Team Organization</li>
          <li class="footer-page-li">Moana Software Foundation</li>
          <li class="footer-page-li">Code Of Conduct</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
