{% if request.user.is_authenticated %}

<footer class="m-3 p-3 mt-0 pt-0 mb-0 pb-0">
  <div class="white-border p-3 d-flex justify-content-between" style="min-height: 50px;">
    <p>
      <span>@ 2023 Made With</span> 
      <i class="fa-regular fa-heart" style="color: red;"></i>
      <span>By English Study</span>
    </p>
    <p class="d-flex flex-wrap gap-2">
      <a href="">License</a>
      <a href="">Documentation</a>
    </p>
  </div>
</footer>

{% else %}

<footer>
  <div class="white-border p-3 d-flex flex-wrap justify-content-between" style="background: #a89cd4; min-height: 50px;">
    <p>
      <span>@ 2023 Made With</span> 
      <i class="fa-regular fa-heart" style="color: red;"></i>
      <span>By English Study</span>
    </p>
    <p class="d-flex gap-2">
      <a href="">License</a>
      <a href="">Documentation</a>
    </p>
  </div>
</footer>


{% endif %}
