@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100&display=swap');

:root {
  --form-margin: 20px;
  --form-padding: 10px;
  --form-width: 500px;
  --form-border: 2px solid rgba(0,0,0,0.2);
  --form-border-radius: 10px;

  --color-background: #f6f6f9;
  --color-light: rgba(55, 57, 71, 0.18);
  --color-white: #fff;
  
  --box-shadow: 0 2rem 3rem var(--color-light);

  /* --text: #fcfbfe;
--background: #000000;
--primary: #6425ad;
--secondary: #20043f;
--accent: #7029c2; */
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

body a {
  color: #1a1704;
  text-decoration: none;
}

body a:hover {
  text-decoration:underline;
  color: blue;
}

body p {
  word-wrap: break-word;
  margin: 0;
}

body li {
  list-style: none;
}

/* main.html */

.profile-update-form {
  margin: var(--form-margin);
  padding: var(--form-padding);
  width: var(--form-width);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

.profile-page-form {
  margin: var(--form-margin);
  padding: var(--form-padding);
  width: var(--form-width);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

.profile-page-form div {
  text-align: left;
}

.profile-delete-form {
  margin: var(--form-margin);
  padding: var(--form-padding);
  width: var(--form-width);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

.user-login-form {
  margin: var(--form-margin);
  padding: var(--form-padding);
  width: var(--form-width);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

.user-register-form {
  margin: var(--form-margin);
  padding: var(--form-padding);
  width: var(--form-width);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

.create-course-form {
  margin: var(--form-margin);
  padding: var(--form-padding);
  width: var(--form-width);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
}

/* footer.html */

.footer-page-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #7be8ea;
}

.footer-page-ul {
  text-align: left;
  margin-top: 5px;
  padding: 5px;
}
.footer-page-ul .footer-page-li {
  list-style: none;
}

/* navbar.html */


/* index.html */

.index-page-section {
  margin: auto;
  padding: var(--form-margin);
}

.index-page-section .index-page-ul li {
  margin-bottom: var(--form-margin);
  padding: var(--form-padding);
  list-style: none;
  border-left: 1px solid #7b9cea;
}

.index-page-list div {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  position: fixed;
  top: 170px;
}

.index-page-list div a {
  padding: var(--form-padding);
  margin: var(--form-padding);
}

.index-page-list div a:nth-child(odd) {
  border-left: 2px solid #7b9cea;
}

.index-page-list div a:nth-child(even) {
  border-left: 2px solid #eac07b;
}

/* Course */

.course-page-section,
.course-page-section .row div {
  margin: var(--form-margin);
  padding: var(--form-padding);
}

.course-page-list div {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  position: fixed;
}

.course-page-list div a {
  padding: var(--form-padding);
  margin: var(--form-padding);
}

.course-page-list div a:nth-child(odd) {
  border-left: 2px solid #7b9cea;
}

.course-page-list div a:nth-child(even) {
  border-left: 2px solid #eac07b;
}

.topic-page-section,
.topic-page-section .row div {
  margin: var(--form-margin);
  padding: var(--form-padding);
}

.course-each-page-section {
  margin: var(--form-margin);
  padding: var(--form-padding);
  border: var(--form-border);
  border-radius: var(--form-border-radius);  
}

.course-each-edit-page-form {
  margin: var(--form-margin);
  padding: var(--form-padding);
  border: var(--form-border);
  border-radius: var(--form-border-radius);  
}

.border {
  border: var(--form-border);
  border-radius: var(--form-border-radius);  
}

.quiz-create-page-question {
  border: var(--form-border);
  border-radius: var(--form-border-radius);  
}

.for-loop {
  margin: var(--form-padding);
  padding: var(--form-padding);
  background: var(--color-white);
  /* border: var(--form-border);
  border-radius: var(--form-border-radius); */
  box-shadow: 0 2rem 3rem var(--color-light); 
}

.white-border {
  background: var(--color-white);
  box-shadow: 0 2rem 3rem var(--color-light); 
}

.wrapper-margin-padding {
  margin: var(--form-padding);
  padding: var(--form-padding);
}

.quiz-page-img {
  height: auto;
  width: 100%;
  max-width: 300px;
}

.profile-page-quiz-column {
  margin: var(--form-padding);
  padding: var(--form-padding);
  border: var(--form-border);
  border-radius: var(--form-border-radius); 
}

/* .quiz-create-list-question {
}

.quiz-create-list-answer{
} */

.loader {
  height: 30px;
  width: 30px;
  border: 2px solid #e3e3e3;
  border-radius: 50%;
  border-right-color: #7b9cea;
  animation: spin 1s ease infinite;
  display:none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.profile-skills-list-1::before {
  content: "\2022";
  color: #f02b39;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.profile-skills-list-2::before {
  content: "\2022";
  color: #f0bc1f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.profile-skills-list-3::before {
  content: "\2022";
  color: #069d75;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.small-font-size {
  font-size: 13px;
}


