@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");

:root {
  --form-margin: 20px;
  --form-padding: 10px;
  --form-width: 500px;
  --form-border: 2px solid rgba(0,0,0,0.2);
  --form-border-radius: 10px;

  --color-background: #f6f6f9;
  --color-light: rgba(55, 57, 71, 0.18);
  --color-white: #fff;
  
  --box-shadow: 0 2rem 3rem var(--color-light);

  /* --text: #fcfbfe;
--background: #000000;
--primary: #6425ad;
--secondary: #20043f;
--accent: #7029c2; */
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

body a {
  color: #1a1704;
  text-decoration: none;
}

body a:hover {
  text-decoration:underline;
  color: blue;
}

body p {
  word-wrap: break-word;
  margin: 0;
}

body li {
  list-style: none;
}

.border {
  border: var(--form-border);
  border-radius: var(--form-border-radius);  
}

.font {
  font-family: 'Gochi Hand', cursive;
}

.blue-border {
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: rgba(0, 255, 196, 0.7);
  padding: 0.2rem 1.2rem;
}

.white-border {
  background: var(--color-white);
  border-radius: 10px;
  /* box-shadow: 0 2rem 3rem var(--color-light);  */
  box-shadow: 0 0.5rem 3rem var(--color-light);
}

.wrapper-margin-padding {
  margin: var(--form-padding);
  padding: var(--form-padding);
}

.quiz-page-img {
  height: auto;
  width: 100%;
  max-width: 300px;
}

.profile-skills-list-1::before {
  content: "\2022";
  color: #f02b39;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.profile-skills-list-2::before {
  content: "\2022";
  color: #f0bc1f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.profile-skills-list-3::before {
  content: "\2022";
  color: #069d75;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.small-font-size {
  font-size: 13px;
}

.success {
  color: green;
}
.error {
  color: red;
}

.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 0;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  position: relative;
  height: 60px;
  border: 2px solid rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}
.days li.inactive{
  background: #cecece;
}
.days li.active{
  background: #fff;
}

/* toast notification */

.custom-toast{
  position: absolute;
  align-items: start;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.custom-toast.active{
    transform: translateX(0%);
}
.custom-toast .toast-content{
    display: flex;
    align-items: center;
    position: sticky;
}
.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message .text{
    font-size: 14px;
    font-weight: 400;;
    color: #666666;
}
.message .text.text-1{
    font-weight: 600;
    color: #333;
}
